<div th:fragment="navbar-left">
    <div class="navbar-brand-holder mx-auto"><a class="navbar-brand" href="./index.html" th:href="@{/ui/}">&nbsp;</a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="divider-horizontal"></div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="width: 100%;">
            <span th:if="${project != null}" class="navbar-project" th:text="${projectName}" th:class="${'navbar-project project-theme-' + project.color}">project</span>
            <span class="navbar top-item">
                <a data-toggle="collapse" href="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1" id="color-nav-1">
                    Dictionnaire
                </a>
            </span>
            <div class="collapse" id="collapseExample1">
                <div class="sub-items">
                    <li id="li-1"><a class="lead-nav" href="./versions.html" th:href="@{/ui/versions}">Gestion des versions</a></li>
                    <li id="li-2"><a class="lead-nav" href="./dictionary.html" th:href="@{/ui/dictionary}">Modifier le dictionnaire</a></li>
                    <li id="li-3"><a class="lead-nav" href="./domains.html" th:href="@{/ui/domains}">Domaines fonctionnels</a></li>
                    <li id="li-4"><a class="lead-nav" href="./share.html" th:href="@{/ui/share}">Exporter/Importer</a></li>
                </div>
            </div>

            <span class="navbar top-item">
                <a data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" id="color-nav-2">
                    Lot de modifications
                </a>
            </span>
            <div class="collapse" id="collapseExample2">
                <div class="sub-items">
                    <li id="li-5"><a class="lead-nav" href="./commits.html" th:href="@{/ui/commits}">Liste des lots présents</a></li>
                    <li id="li-6"><a class="lead-nav" href="./prepare.html" th:href="@{/ui/prepare}">Préparer un lot</a></li>
                    <li id="li-7"><a class="lead-nav" href="./pull.html" th:href="@{/ui/pull}">Importer un lot</a></li>
                    <li id="li-8"><a class="lead-nav" href="./push.html" th:href="@{/ui/push}">Exporter un lot</a></li>
                    <li id="li-9"><a class="lead-nav" href="./history.html" th:href="@{/ui/history}">Historique des MAJ</a></li>
                </div>
            </div>

            <span class="navbar top-item">
                <a data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3" id="color-nav-3">
                    Projets
                </a>
            </span>
            <div class="collapse" id="collapseExample3">
                <div class="sub-items">
                    <li id="li-10"><a class="lead-nav" href="./transformers_all.html" th:href="@{/ui/transformers}">Transformateurs du projet</a></li>
                    <li id="li-11"><a class="lead-nav" href="./projects_all.html" th:href="@{/ui/projects}">Gestion des projets</a></li>
                    <li id="li-12"><a class="lead-nav" href="./projects_prefered.html" th:href="@{/ui/projects/prefered}">Projets préférés</a></li>
                </div>
            </div>

            <span class="navbar top-item">
                <a data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4" id="color-nav-4" th:style = "${isNavBold} ? 'font-weight: bold' : 'font-weight: italic' ">
                    Utilisateurs
                </a>
            </span>
            <div class="collapse" id="collapseExample4">
                <div class="sub-items">
                    <li id="li-13"><a class="lead-nav" href="./user.html" th:href="@{/ui/user}">Voir mon profil</a></li>
                    <li id="li-14"><a class="lead-nav" href="./users.html" th:href="@{/ui/users}">Editer les utilisateurs</a></li>
                </div>
            </div>
        </ul>
    </div>
</div>