<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DataGate</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/core.css}"/>
    <link rel="stylesheet" href="/css/core.css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<body>
    <div class="container-fluid" id="app-container">
        <div class="row app-row">
            <div class="col-2" style="border: 1px solid #d8e2dc; padding: 0;">
                <a class="navbar-brand" href="./index.html" th:href="@{/ui/}">&nbsp;</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                </button>

                <div class="divider-horizontal"></div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex; justify-content: column;">
                    <ul class="navbar-nav mr-auto" style="width: 100%;">
                        <hr style="border-top: 1px solid #d8e2dc; width: 100%;"/>
                        <span style="display: flex; width: 100%; justify-content: space-around;">
                                <a>Dictionnaire</a>
                                <i class="fas fa-sort-down"></i>
                        </span>
                        <hr style="border-top: 1px solid #d8e2dc; width: 100%;"/>
                        <span style="display: flex;justify-content: space-around;">
                                <a>Lot de modification</a>
                                <i class="fas fa-sort-down"></i>
                        </span>
                        <hr style="border-top: 1px solid #d8e2dc; width: 100%;"/>
                        <span style="display: flex;justify-content: space-around;">
                                <a>Projets</a>
                                <i class="fas fa-sort-down"></i>
                        </span>
                        <hr style="border-top: 1px solid #d8e2dc; width: 100%;"/>
                        <span style="display: flex;justify-content: space-around;">
                                <a>Utilisateurs</a>
                                <i class="fas fa-sort-down"></i>
                        </span>
                        <hr style="border-top: 1px solid #d8e2dc; width: 100%;"/>
                        <!-- <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Lot de modification
                             </a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <a class="dropdown-item" href="./commits.html" th:href="@{/ui/commits}">Liste des lots présents</a>
                                 <div class="dropdown-divider"></div>
                                 <a class="dropdown-item" href="./prepare.html" th:href="@{/ui/prepare}">Préparer un lot</a>
                                 <a class="dropdown-item" href="./pull.html" th:href="@{/ui/pull}">Importer un lot</a>
                                 <a class="dropdown-item" href="./push.html" th:href="@{/ui/push}">Exporter un lot</a>
                                 <a class="dropdown-item" href="./history.html" th:href="@{/ui/history}">Historique des requêtes de MAJ</a>
                             </div>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Projets
                             </a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <a class="dropdown-item" href="./transformers_all.html" th:href="@{/ui/transformers}">Transformateurs du projet actuel</a>
                                 <a class="dropdown-item" href="./projects_all.html" th:href="@{/ui/projects}">Gestion des projets</a>
                                 <a class="dropdown-item" href="./projects_prefered.html" th:href="@{/ui/projects/prefered}">Choisir mes projets préférés</a>
                             </div>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Utilisateurs
                             </a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <a class="dropdown-item" href="./user.html" th:href="@{/ui/user}">Voir mon profil</a>
                                 <a class="dropdown-item" href="./users.html" th:href="@{/ui/users}">Editer les utilisateurs</a>
                             </div>
                         </li>-->
                    </ul>
                </div>
            </div>
            <div class="col-10" style="padding:0;">
                <nav style="display: flex; justify-content: flex-end; height: 80px;" th:class="|navbar navbar-expand-lg navbar-light project-theme-bg-${project != null ? project.color : 0}|" class="navbar navbar-expand-lg navbar-light">
                    <div class="divider-horizontal"></div>
                        <form class="form-inline">
                	<span class="active-project" th:if="${project != null}">
                        Projet actuel : <a href="./projects_prefered.html" th:href="@{/ui/projects/select}" th:text="${project.name}">RECETTE</a>
                    </span>
                            <a href="./swagger.html" th:href="@{/swagger}" target="_blank" style="color: white;" type="button">API REST</a>
                            &nbsp;&nbsp;
                            <a href="./index.html" th:href="@{/logout?url=/ui}" style="color: white;" type="button">Déconnexion</a>
                        </form>
                </nav>
                <span layout:fragment="content">
		        <div>Here page content</div>
		      </span>
		      <div id="successDisplay" class="alert alert-success alert-dismissible" style="display:none">C'est un succès</div>
		      <div id="errorDisplay" class="alert alert-danger alert-dismissible" style="display:none">C'est un echec</div>
		   </div>
		</div>
    </div>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.0/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.13.0/dist/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/utils.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script layout:fragment="script">
    	// Page script goes here
    </script>
</body>
</html>