## Build temp folder / cfg files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!/.mvn/wrapper/maven-wrapper.jar
.project
.classpath
.idea/
.settings/
.vscode/
**/*.iml
.sonar/
.scannerwork/

## App resources
**/src/main/resources/config/application*.yml
**/update-errors.out
efluid-datagate-generator-example/sonar-project.properties
update-errors.out
