target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.project
.classpath
.idea/
.settings/
/param-gest.iml

/param-app/src/main/resources/config/application.yml
param-app/update-errors.out
param-app/src/main/resources/config/application-dest.yml
param-app/src/main/resources/config/application-marie.yml
.vscode
param-app/src/main/resources/config/application-small-server.yml
