<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	
	<!-- Log onto console only, with default format -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Default INFO enabled logs for application -->
	<logger name="fr.uem.efluid" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="fr.uem.efluid.model.repositories.impls" additivity="false"> 
		<level value="DEBUG" /> 
		<appender-ref ref="STDOUT" /> 
	</logger>

	<logger name="fr.uem.efluid.services.PrepareIndexService" additivity="false"> 
		<level value="DEBUG" /> 
		<appender-ref ref="STDOUT" /> 
	</logger>

	<!-- Explicit logger for DIFF MERGE processes. Log it here into current console -->
	<logger name="merge.analysis" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- Default level for every logged resources -->
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>