<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Liste des lots du projet <span th:class="|project-theme-txt-${project.color}|" th:text="${project.name}">project</span></h5>
		<table class="table table-sm">
		    <thead>
		        <tr>
		            <th scope="col">Lots de modifications</th>
		            <th scope="col">Domains couverts</th>
		            <th scope="col">Créé par</th>
		            <th scope="col">Le</th>
		            <th scope="col"></th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="commit, cstat : ${commits}">
		            <td th:text="${commit.comment}">Préchargement configuration</td>
		            <td th:text="${commit.domainNames}">Fonct domains</td>
		            <td th:text="${commit.originalUserEmail}">System</td>
		            <td th:text="${custom.format(commit.createdTime)}">01/11/2017</td>
		            <td>
		            	<a href="./details.html" th:href="@{/ui/details/{id}(id=${commit.uuid})}" class="btn btn-sm btn-secondary float-right">Details</a>
		            </td>
		        </tr>
		    </tbody>
		</table>
		<p>
			<div class="float-right">
				<a href="./prepare.html" th:href="@{/ui/prepare}" class="btn btn-primary float-right" type="button">Préparer un nouveau lot de paramètrage</a><br/><br/>
			</div>
		</p>
	</span>
	<script layout:fragment="script">
		
	</script>
</body>
</html>