<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
    	<form action="commit-save.html" th:action="@{/ui/prepare/save}" method="post">
        	<p>
	        	<h5>Identification du lot de modifications</h5>
                <table class="table">
							<thead>
								<tr><th scope="col">Domaines fonctionnels concernés</th></tr>
							</thead>
							<tr th:each="domain, tstat : ${preparation.selectedFunctionalDomainNames}">
                            	<td th:text="${domain}">Gestion du matériel</td>
                        	</tr>
                        </table>
                        
                        <div class="form-group">
                            <label for="whereCriteria"><b>Description du lot de modification</b></label>
							<textarea  th:field="${preparation.commitData.comment}" class="form-control" rows="10"></textarea>
                        </div>
					</p>
					<p>
						<div class="float-right">
							<a th:if="${preparation.preparingState.name()=='LOCAL'}" class="btn btn-secondary btn-sm" th:href="@{/ui/prepare}" href="prepare.html">Revenir en arrière</a>
							<a th:if="${preparation.preparingState.name()!='LOCAL'}" class="btn btn-secondary btn-sm" th:href="@{/ui/merge}" href="prepare.html">Revenir en arrière</a>
							<input type="submit" class="btn btn-success btn-sm" value="Confirmer les opérations"/><br/><br/>
						</div>
					</p>
                </form>
	</span>
    <script layout:fragment="script">
		
    </script>
</body>
</html>