<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<div>
			<h5>
				Ensemble des modifications présentes dans le lot "<span th:text="${details.uuid}">ID988IDIDU</span>"
				<div class="btn-group float-right" role="group">
					<button type="button" id="closeAllButton" class="btn btn-outline-warning btn-sm">Tout réduire</button>
					<button type="button" id="showAllButton" class="btn btn-outline-info btn-sm">Tout afficher</button>
				</div>
			</h5>
			
			<!-- Commit summary -->
			<p>
				<ul>
					<li><b>Détails</b> : <span th:text="${details.comment}">mon lot</span></li>
					<li><b>Créé par</b> : <span th:text="${details.originalUserEmail}">perso@email.com</span></li>
					<li><b>Créé le</b> : <span th:text="${details.createdTime}">jeudi</span></li>
					<li><b>Type</b> : <span th:text="${details.state.name()}">MERGE</span></li>
					<li><b>Version du dictionnaire</b> : <span class="version-name" th:text="${details.versionName}">0.1.2</span></li>
					<li><b>Version du modèle associé</b> : <span th:text="${details.versionModelId}">0.1.2</span></li>
					<li th:if="${details.state.name()}!='LOCAL'"><b>Importé le </b>: <span th:text="${details.importedTime}">vendredi</span></li>
				</ul>
			</p>
		</div>
		
		<!-- Commit attachment files -->
		<div th:if="${details.attachments} != null and ${details.attachments.size()} > 0" class="form-group">
			<table class="table table-sm">
			    <thead>
			        <tr>
			            <th scope="col">Pièces jointes intégrées au lot</th>
			            <th scope="col">&nbsp;</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="attachment, cstat : ${details.attachments}">
			            <td>
			            	<img src="/ico.png" th:src="|/ico-${attachment.type}.png|" width="18" height="24" th:title="${attachment.type}"/>
			            	&nbsp;
			            	<span th:text="${attachment.name}">test.sql</span>
			            </td>
			            <td>
							<div class="float-right">
		   						<button th:if="${attachment.type.editable && details.attachmentDisplaySupport}" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#contentModal" th:id="${attachment.uuid}">Consulter</button>
							</div>
		      			</td>
			        </tr>
			    </tbody>
			</table>
		</div>
		
		<!-- Diff content details -->
		<div th:if="${not details.emptyDiff}" th:each="diffDisplay, tstat : ${details.content}" th:id="${tstat.index}">
			<div th:if="${!diffDisplay.diff.isEmpty()}" class="dictionary-content" >
				<div class="dictionary-summary">
					<span class="dictionary-name" th:text="${diffDisplay.dictionaryEntryName}">Type de matériel</span>
					<span class="dictionary-details" th:text="|- table : ${diffDisplay.dictionaryEntryTableName} - Domaine : ${diffDisplay.domainName}|">Domaine : Gestion du matériel</span>
					<span class="dictionary-diff-size" th:text="|${diffDisplay.realDiffSize} valeur(s)|">15 valeurs</span>
					<span class="reducer reducer-close float-right" title="afficher / masquer le détail pour la table de paramétrage">&nbsp;</span>
				</div>
				<table class="table table-sm">
					<thead>
						<tr>
							<th scope="col" width="15%">Clé (<span th:text="${diffDisplay.dictionaryEntryDisplayKeyName}">TITLE</span>)</th>
							<th scope="col" width="10%">Type</th>
							<th scope="col">Modification</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entry, estat : ${diffDisplay.diff}" th:class="|action-line ${#strings.toLowerCase(entry.action.name())}|" class="action-add">
							<td th:if="${!entry.displayOnly}" th:text="${entry.keyValue}">XAZER5555 - 22</td>
							<td th:if="${entry.displayOnly}" class="similar-display" th:text="|${entry.keyValues.size()} entrées similaires|" th:title="|clées : ${entry.combinedKey}|">34 entrées similaires</td>
							<td class="action-display" th:text="${entry.action.name()}=='ADD'?'Ajout':(${entry.action.name()}=='REMOVE'?'Suppression':'Modification')">Ajout</td>
							<td><span class="change-display" th:utext="${entry.hrPayload}" th:title="|payload technique='${entry.payload}'|">"Compteur d'eau" / "abc" / "FS" => suppr</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- Empty content -->
		<div th:if="${details.emptyDiff && !details.tooMuchData}">
			<p>Ce lot de modification ne comportait pas de modifications de paramètrage</p>
		</div>
		
		<!-- Too much content -->
		<div th:if="${details.tooMuchData}">
			<p>Ce lot de modification comporte un nombre de modifications de paramètrage trop volumineux (<span th:text="${details.size}">19998</span> lignes) pour être affiché</p>
		</div>

		<!-- Bottom button -->
		<p>
			<div class="float-right"><a href="/commits.html" th:href="@{/ui/commits}" class="btn btn-dark btn-sm">Revenir à la liste</a><br/><br/></div>
		</p>
		
		<!-- File content display modal -->
		<div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
				<div class="modal-header">
			        <h5 class="modal-title" id="contentModalLabel">New message</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body" id="modalContent">
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
			      </div>
		    </div>
		  </div>
		</div>
	
	</span>
    <script layout:fragment="script">
		
		// For table hidding
		const hideAndShowTableAction = (tableUuid) => {
			hideDisplays();
			var table = $("#" + tableUuid + " table");
			var button = $("#" + tableUuid + " span.reducer");
			if(button.attr("class").indexOf('reducer-close') !== -1){
				table.hide();
				button.removeClass("reducer-close").addClass("reducer-open");
			} else {
				table.show();
				button.removeClass("reducer-open").addClass("reducer-close");
			}
		};
		
		// For hidding all
		const hideAndShowAllAction = (force) => {
			$("span.reducer").each((index, e) => {
				var tableUuid = e.parentElement.parentElement.parentElement.id;
				var table = $("#" + tableUuid + " table");
				var button = $("#" + tableUuid + " span.reducer");
				if(force === 'hide'){
					table.hide();
					button.removeClass("reducer-close").addClass("reducer-open");
				} else {
					table.show();
					button.removeClass("reducer-open").addClass("reducer-close");
				}
			});
		};
		
        // For attachment read in modal
        const readAttach = (e) => {
        	hideDisplays();
			var uuid = e.relatedTarget.id;
			console.log("id = " + uuid);
			$.get("/ui/attachment/content?uuid=" + uuid, null, (data, status) => {
				$("#modalContent").html(data);
				$("#contentModalLabel").html("Fichier <b>" + name + "</b>");
			}); 
        };
        
    	// Init actions
    	$(document).ready(() => {
			// Default : hide all
			hideAndShowAllAction('hide');
			
			$("span.reducer").click((e) => hideAndShowTableAction(e.target.parentElement.parentElement.parentElement.id));
			$("#closeAllButton").click((e) => hideAndShowAllAction('hide'));
			$("#showAllButton").click((e) => hideAndShowAllAction('show'));
			$('#contentModal').on('show.bs.modal', readAttach); 
		}); 
		
    </script>
</body>
</html>