<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Historique des modifications apportées pour le projet <span th:class="|project-theme-txt-${project.color}|" th:text="${project.name}">project</span></h5>
		<form action="#" th:action="@{/ui/history}" method="post">
			<div class="form-row">
				<div class="form-group col-md-11">
					 <span class="help">
					 	Toutes les requêtes exécutées sur les tables de paramètrage sont stockées dans un historique. Vous pouvez consulter ici les informations enregistrées.<br/>
					 	Le symbole <span class="history-update inline-block">&nbsp;</span> indique que la modification est une mise à jour lors d'un import de lot, le symbole 
					 	<span class="history-rollback inline-block">&nbsp;</span> précise les opérations d'annulation (rollback) lors de la préparation d'un lot.<br/>
					 	Vous pouvez filtrer les requêtes par leur contenu.
					 </span>
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-11">
					<input type="text" class="form-control" name="search" size="50" th:value="${history.search}" placeholder="Filtre"/>
			    </div>
			    <div class="col col-md-1">
					<button id="searchButton" type="submit" class="btn btn-outline-success btn-sm float-right" >Rechercher</button>
			    </div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-11">
					 <span th:text="${history.totalCount}">3</span> éléments trouvés
			    </div>
			</div>
		</form>
		<div>
			<nav aria-label="navbar">
			  <ul class="pagination">
			    <li th:if="${history.pageIndex}!=0" class="page-item">
			      <a class="page-link" th:href="@{/ui/history/{page}/{search}(page=${history.pageIndex - 1},search=${history.search})}" href="#" tabindex="-1">Précédent</a>
			    </li>
			    <li th:each="item, cstat : ${navBar}" th:class="${item.spacer}?'page-item disabled':(${item.selected}?'page-item active':'page-item')" class="page-item">
			      <a class="page-link" th:href="${item.uri}" href="#"><span th:text="${item.spacer}?'...':${item.title}">2</span></a>
			    </li>
			    <li th:if="${history.pageIndex}!=${history.pageCount-1}" class="page-item">
			      <a class="page-link" th:href="@{/ui/history/{page}/{search}(page=${history.pageIndex + 1},search=${history.search})}" href="#" tabindex="-1">Suivant</a>
			    </li>
			  </ul>
			</nav>
		</div>
		<table class="table table-sm">
		    <thead>
		        <tr>
		            <th scope="col" colspan="2">Requête exécutée</th>
		            <th scope="col" width="13%">Utilisateur</th>
		            <th scope="col" width="15%">Date</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="line, cstat : ${history.page}">
		            <td class="history-state"><span th:class="${line.rollback}?'history-rollback':'history-update'" class="history-update">&nbsp;</span></td>
		            <td><span class="query-display" th:text="${line.query}">select * ...</span></td>
		            <td th:text="${line.user}">Fonct domains</td>
		            <td th:text="${custom.format(line.processedTime)}">01/11/2017</td>
		        </tr>
		    </tbody>
		</table>
	</span>
	<script layout:fragment="script">
		
	</script>
</body>
</html>