<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
	<span layout:fragment="content">
		<h5>Détails techniques</h5>
		<ul>
			<li>Base de données source : <span th:text="${details.dbUrl}">ORACLE_DB_SERVER_123, schéma ABCDEF</span></li>
			<li>Lots de paramètrage gérés : <span th:text="${details.commitsCount}">12</span></li>
			<li>Nombre de projets gérés : <span th:text="${details.projectsCount}">4</span></li>
			<li>Nombre de versions gérées (total) : <span th:text="${details.versionsCount}">4</span></li>
			<li>Nombre de lobs gérés (total) : <span th:text="${details.lobsCount}">100</span></li>
			<li>Nombre de domaines fonctionnels (total) : <span th:text="${details.domainsCount}">15</span></li>
			<li th:if="${project != null}">Nombre de domaines fonctionnels (projet "<span th:text="${project.name}">Mon Projet</span>") : <span th:text="${details.domainsCountForProject}">15</span></li>
			<li th:if="${project != null}">Nombre de versions gérées (projet "<span th:text="${project.name}">Mon Projet</span>") : <span th:text="${details.versionsCountForProject}">15</span></li>
			<li>Nombre de tables de paramètrage spécifiées dans le dictionnaire (total) : <span th:text="${details.dictionaryCount}">100</span></li>
			<li>Nombre de lignes dans l'index (total) : <span th:text="${details.indexCount}">124000</span></li>
			<li>Taille estimée de l'index complet (total) : <span th:text="${details.indexSize}">146 Mb</span></li>
			<!--<li>Dernier import : Lot ABCDEF le 12/01/2018</li>-->
		</ul>
	</span>
</body>
</html>