<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion Paramètrage Efluid - Wizzard de configuration</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/core.css" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid">
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand" >Authentification</span>
		</nav>
        <div class="row"><div class="col-1"><br/></div></div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
		    	<span>
					<form action="index.html" th:action="@{/callback?client_name=web}" method="post">
						<div class="form-group">
							<label for="username">Login</label>
							<input type="text" class="form-control" id="username" name="username" size="50"/>
						</div>
						<div class="form-group">
							<label for="password">Mot de passe</label>
							<input type="password" class="form-control" id="password" name="password" size="50"/>
						</div>
						<div>
							<span class="remark">Instance <span th:text="${info.instanceName}">SOURCE</span> - v<span th:text="${info.version}">1</span></span>
							<button id="nextButton" type="submit" class="btn btn-outline-success btn-sm float-right">Se connecter</button><br/><br/>
						</div>
					</form>
			      </span>
		      <div id="successDisplay" class="alert alert-success" style="display:none">C'est un succès</div>
		      <div id="errorDisplay" class="alert alert-danger" style="display:none">C'est un echec</div>
		   </div>
		</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>