<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
    <link rel="stylesheet" href="/css/spinning.css" media="screen"/>
</head>
<body>
    <span layout:fragment="content">
		<p>
		    <h5>Import et analyse de lot(s) en cours</h5>
		</p>
		<div class="alert alert-secondary" role="alert">
			<strong>Chargement en cours, merci de patienter</strong>. 
			<span th:if="${result}">
				Le fichier d'import en cours de traitement comporte <span th:text="${result.counts['commits-all'].modified}">10</span> lots,
				dont <span th:text="${result.counts['commits-all'].added}">10</span> seront appliqués dans la base de données de paramètrage. 
			</span>
			Le traitement d'analyse des différences entre la base de données gérée et l'index obtenu suite à l'import peut prendre un certain 
			temps. Il n'est pas possible d'arrêter un traitement en cours.
			<div id="floatingCirclesG">
				<div class="f_circleG" id="frotateG_01"></div>
				<div class="f_circleG" id="frotateG_02"></div>
				<div class="f_circleG" id="frotateG_03"></div>
				<div class="f_circleG" id="frotateG_04"></div>
				<div class="f_circleG" id="frotateG_05"></div>
				<div class="f_circleG" id="frotateG_06"></div>
				<div class="f_circleG" id="frotateG_07"></div>
				<div class="f_circleG" id="frotateG_08"></div>
			</div>
		</div>
		<p>&nbsp;<br/><br/><br/><br/></p>
	</span>
    <script layout:fragment="script" th:inline="javascript">
    
    	// Repeated check on status using basic rest service
		const checkProgress = () => {
			console.info("start a new check");
			$.get("/ui/merge/progress", (data, status) => {
				console.info("Check with data" + data);
				if(data === 'DIFF_RUNNING'){
					// Add new timeout 
					setTimeout(checkProgress, 1000);
				} else {
					// Reload page for valid data
					window.location.replace("/ui/merge");
				}
			});
		};
		
    	// Start loading
    	$(document).ready(() => {
			checkProgress();
		}); 
		
    </script>
</body>
</html>