<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Import d'un lot de modifications</h5>
		<span class="help">
			L'import est une opération complexe : toutes les données importées vont être comparées avec la base de données de paramétrage actuelle, 
			et les différences et conflits vont être identifiés. Ils seront présentés alors dans une seconde étape afin de vous permettre d'indiquer
			 ce qui doit concrêtement être appliquée. Les modifications de paramètrage sont ensuite reportées dans la base de données, le un lot de 
			 modification spécifique est ajouté.
		</span>
		<form action="#" th:action="@{/ui/pull/upload}" method="post" enctype="multipart/form-data">
			<label class="btn btn-sm btn-primary">
				Choisir un fichier à importer <input name="import" id="importInput" type="file" hidden="true"/>
			</label>
			<span class="file-display">Fichier sélectionné : <span id="displayFile">- aucun -</span></span>
			<input type="submit" class="btn btn-success-outline btn-sm float-right" id="importSubmit" disabled="disabled" value="Importer les données de lots"/>
		</form>
	</span>
	<script layout:fragment="script">
		 /*<![CDATA[*/
		
		// Display of file 
		const displayFile = () => {
			hideDisplays();
			var file = $("#importInput").val();
			console.log(file);
			if(file.endsWith(".zip") || file.endsWith(".par")){
				$("#displayFile").text(file);
				$("#importSubmit").prop('disabled', false);
				$("#importSubmit").removeClass("btn-outline-success").addClass("btn-success");
			} else {
				showError("Le fichier fourni n'est pas dans un format valide. Seules les archives PAR sont supportées."); 
				$("#importSubmit").prop('disabled', true);
				$("#importSubmit").removeClass("btn-success").addClass("btn-outline-success");
			}
		};
        
    	// Init actions
    	$(document).ready(() => {
			$("#importInput").change(displayFile);
		}); 
		
        /*]]>*/
	</script>
</body>
</html>