<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<form action="#" th:action="@{/ui/dictionary/save}" method="post">
			<h5>Edition d'une table de paramètrage. Table <strong th:text="${entry.table}">TPROGRAMMATION</strong></h5>
			<span class="help">Les informations saisies permettent d'identifier comment et où sont récupérées les données de paramètrage.
			La table utilisée ne peut être modifiée après création, de même que le domaine fonctionnel</span>
			<div class="form-group">
				<label for="name">Nom du paramètrage correspondant</label>
				<input id="name" type="text" class="form-control" th:field="${entry.name}" value="Programmation" size="50"/>
				<input type="hidden" th:field="${entry.uuid}" />
				<input type="hidden" th:field="${entry.table}" />
			</div>
			<div class="form-group">
				<label for="functionalDomain">Domaine fonctionnel</label>
				<select name="functionalDomain" class="form-control" th:field="${entry.domainUuid}">
					<option th:each="domain : ${domains}" th:value="${domain.uuid}" th:text="${domain.name}">Gestion du matériel</option>
				</select>
				<small class="form-text text-muted">Le domaine fonctionnel ne pourra pas être modifié une fois la table de paramètrage créée</small>
			</div>
			<div class="form-group">
				<label for="whereCriteria">Critère de filtrage des données</label>
				<input id="whereCriteria" type="text" class="form-control" th:field="${entry.where}" value="1=1" size="50"/>
				<small class="form-text text-muted">Le critère de filtrage est appliqué par défaut lors de chaque récupération de paramètre. Sa valeur est libre</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Requête de selection obtenue&nbsp;&nbsp;&nbsp;<span class="important-remark">Les jointures sur les tables des dépendances ne sont générées qu'après enregistrement</span></label>
				<span class="query-display" id="currentQuery">SELECT COLKEY, COLA, COLB, COLC FROM TPROGRAMMATION WHERE 1=1 ORDER BY COLKEY</span>
			</div>
			<span th:if="${entry.missingTable}">
				<div class="alert alert-danger">La table référencée <strong th:text="${entry.table}">TPROGRAMMATION</strong> n'existe pas dans la base de données gérée. 
				L'entrée courante est probablement issue d'un import, pour lequel la mise à jour du modèle de donnée géré n'a pas encore été appliqué. 
				Seules des informations partielles sont disponibles sur les colonnes prises en compte.
				<strong>La modification de cette entrée de paramètrage est impossible tant que la table n'a pas été ajoutée</strong></div>
				<table th:if="${#lists.size(entry.columns)}>0" class="table table-sm">
					<thead>
						<tr>
							<th scope="col">Colonne connue</th>
							<th scope="col">Type</th>
							<th scope="col">Dépendance vers</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="column, stat : ${entry.columns}" th:id="${column.name}">
							<td><span th:class="${column.key}?'table-key'" class="table-key" th:title="${column.key}?'Clé selectionnée'" th:text="${column.name}">COLKEY</span></td>
							<td>Inconnu<input type="hidden" th:id="|selectFor${column.name}|" value="true"></input></td>
							<td>Inconnu</td>
						</tr>
						<!--/* forced hidden "unselected" to make the query building using column names and not "*" */-->
						<tr style="display:none" id="FORCER56TT">
							<td></td>
							<td><input type="hidden" th:id="selectForFORCER56TT" value="false"></input></td>
							<td></td>
						</tr>
					</tbody>
			    </table>
			    <div class="alert alert-danger" th:if="${#lists.size(entry.columns)}==0">Aucune colonne n'est identifiable en raison de la présence d'un critère de sélection "*" pour cette table</div>
				<p>
					<div class="float-right">
						<a th:href="@{/ui/dictionary}" href="./dictionary.html" class="btn btn-secondary btn-sm">Annuler</a>
						<button class="btn btn-outline-success btn-sm" disabled="disabled">Sauvegarder</button><br/><br/>
			   		</div>
				</p>
			</span>
			<span th:if="!${entry.missingTable}">
			    <table class="table table-sm">
			        <thead>
			            <tr>
							<th scope="col">Colonne</th>
							<th scope="col">Type</th>
							<th scope="col">Dépendance vers (table / colonne)</th>
							<th scope="col">
								<div class="btn-group float-right" role="group">
									<button type="button" id="selectAllButton" class="btn btn-outline-primary btn-sm">Tout utiliser</button>
									<button type="button" id="unselectAllButton" class="btn btn-outline-secondary btn-sm">Tout ignorer</button>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="column, stat : ${entry.columns}" th:id="${column.name}">
							<td><span th:class="${column.type.name()}==PK?'table-key'" class="table-key" th:title="${column.type.name()}==PK?'Attention, si c\'est une clé primaire générée, elle ne devraient pas être utilisée comme clé ou même sélectionnée'" th:text="${column.name}">COLKEY</span></td>
							<td th:text="${column.type.displayName}" title="Le type est relatif au format utilisé dans l'expression SQL. Identifiant = clé technique (souvent générée), Literal = Chaine de caractère ou date, Variable = nombre, binaire ou booleen (variable à état), LOB = Long binaire ou texte">Literal</td>
							<td>
								<input type="hidden" th:field="${entry.columns[__${stat.index}__].name}"/>
								<input type="hidden" th:field="${entry.columns[__${stat.index}__].type}"/>
								<select class="form-control select-table" th:id="|fkSelectTabFor${column.name}|" name="foreignKeyTable" th:field="${entry.columns[__${stat.index}__].foreignKeyTable}">
									<option value=""></option>
									<option th:each="table : ${tables}" th:value="${table.tableName}" th:text="${table.tableName}">Gestion du matériel</option>
								</select>
								&nbsp;
								<select class="form-control select-column" th:id="|fkSelectColFor${column.name}|" name="foreignKeyColumn">
									<option value=""></option>
								</select>
								<input type="hidden" th:id="|selectFor${column.name}|" th:field="${entry.columns[__${stat.index}__].selected}"></input>
								<input type="hidden" th:id="|keyFor${column.name}|" th:field="${entry.columns[__${stat.index}__].key}"></input>
								<input type="hidden" th:id="|fkColFor${column.name}|" th:field="${entry.columns[__${stat.index}__].foreignKeyColumn}"></input>
							</td>
							<td>
								<div class="btn-group float-right" role="group">
									<button type="button" th:class="${entry.columns[__${stat.index}__].key}?'btn btn-dark btn-sm key-button':'btn btn-outline-dark btn-sm key-button'" class="btn btn-primary btn-sm key-button">Clé</button>
									<button type="button" th:class="${entry.columns[__${stat.index}__].selected}?'btn btn-primary btn-sm select-button':'btn btn-outline-primary btn-sm select-button'" class="btn btn-primary btn-sm select-button">Utiliser</button>
									<button type="button" th:class="!${entry.columns[__${stat.index}__].selected or entry.columns[__${stat.index}__].key}?'btn btn-secondary btn-sm unselect-button':'btn btn-outline-secondary btn-sm unselect-button'" class="btn btn-secondary btn-sm unselect-button">Ignorer</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<p>
					<div class="float-right">
						<a th:href="@{/ui/dictionary}" href="./dictionary.html" class="btn btn-secondary btn-sm" type="button">Annuler</a>
						<input type="submit" class="btn btn-success btn-sm" value="Sauvegarder"/><br/><br/>
					</div>
				</p>
			</span>
		</form>
		<input type="hidden" th:each="table : ${tables}" th:id="${table.tableName}" th:value="${table.fusedColumnNames}"/>
	</span>
	<script layout:fragment="script">

		// Dynamic query
		const updateQuery = () => {
		
			// TR with col name as ids for simpler search
			var cols = $("tbody tr").toArray().map(tr => tr.id);
	
			// For select, use keys + selecteds
			var selecteds = cols.filter(col => $("#selectFor" + col).val()  === 'true');
			
			// Keys are identified also
			var keys = cols.filter(col => $("#keyFor" + col).val()  === 'true');
			
			var key = (keys.length === 0)? cols[0] : keys[0];

			// Composed query - Order by 1st key = first in columns
			var query = 'SELECT cur."' + key + '", cur."' + (selecteds.length == cols.length?'*':selecteds.join('", cur."')) + '" FROM "' + $("#table").val() + '" cur WHERE ' +   $("#whereCriteria").val() + ' ORDER BY cur."' + keys[0] + '"';
			
			$("#currentQuery").text(query);
			console.info(query);
		};
		
		// Apply fk column options in select
		const selectedFkTab = (colName) => {
			console.info(colName);
			var selectTab = $("#fkSelectTabFor" + colName)[0];
			var selectCol = $("#fkSelectColFor" + colName);
			if(selectTab.selectedIndex > 0){
				var fkTab = selectTab.options[selectTab.selectedIndex].value;
				selectCol.empty();
				var fkCols = $("#" + fkTab).val();
				if(fkCols === ''){
					selectCol.append($("<option></option>").attr("value","").text("### REF INCONNUE ###"));
				} else {
					fkCols.split(", ").forEach(s => selectCol.append($("<option></option>").attr("value",s).text(s)));
					selectCol.val($("#fkColFor" + colName).val());
				}
				selectCol.fadeIn();
			} else {
				selectCol.hide();
			}
		};
		
		// Apply selected FK col
		const selectedFkCol = (colName) => {
			var val = $("#fkSelectColFor" + colName).val();
			console.info(val);
			$("#fkColFor" + colName).val(val);
		};
		
		// Preloaded / selected FK columns
		const prepareAllSelectedFks = () => {
			var cols = $("tbody tr").toArray().map(tr => tr.id);
			cols.forEach(id => selectedFkTab(id));
		};
		
		// When unspecifying as key (internal only)
		const unkeyAction = (colName) => {
        	var keyInput = $("#keyFor" + colName);
        	if(keyInput.val() === 'true'){
				keyInput.val("false");
				$("#" + colName + " td button.key-button").removeClass("btn-dark").addClass("btn-outline-dark");
				$("#" + colName + " td button.unselect-button").removeClass("btn-outline-secondary").addClass("btn-secondary");
			}
        };
        
        // When selecting
        const selectAction = (colName) => {
        	var selectInput = $("#selectFor" + colName);
			if(selectInput.val() === 'false'){
				console.info("selected " + colName);
				unkeyAction(colName); // Cannot be key 
				selectInput.val("true");
				$("#" + colName + " td button.select-button").removeClass("btn-outline-primary").addClass("btn-primary");
				$("#" + colName + " td button.unselect-button").removeClass("btn-secondary").addClass("btn-outline-secondary");
				updateQuery();
			}
        };
        
        // When unselecting
        const unselectAction = (colName) => {
        	var selectInput = $("#selectFor" + colName);
        	var keyInput = $("#keyFor" + colName);
			if(selectInput.val() === 'true' || keyInput.val() === 'true'){
				console.info("unselected " + colName);
				selectInput.val("false");
				$("#" + colName + " td button.select-button").removeClass("btn-primary").addClass("btn-outline-primary");
				$("#" + colName + " td button.unselect-button").removeClass("btn-outline-secondary").addClass("btn-secondary");
				unkeyAction(colName); // Cannot be key 
				updateQuery();
			}
        };
		
        
		// When specifying as key
		const keyAction = (colName) => {
        	var keyInput = $("#keyFor" + colName);
			if(keyInput.val() === 'false'){
				unselectAction(colName); // Cannot be selected in same time
				$("tbody tr").each((i,e) => unkeyAction(e.id)); // Unkey all others
				console.info("specify as key " + colName);
				keyInput.val("true");
				$("#" + colName + " td button.key-button").removeClass("btn-outline-dark").addClass("btn-dark");
				$("#" + colName + " td button.unselect-button").removeClass("btn-secondary").addClass("btn-outline-secondary");
				updateQuery();
			}
        };
        
    	// Init actions
    	$(document).ready(() => {
			$("button.key-button").click((e) => keyAction(e.target.parentElement.parentElement.parentElement.id));
			$("button.select-button").click((e) => selectAction(e.target.parentElement.parentElement.parentElement.id));
			$("button.unselect-button").click((e) => unselectAction(e.target.parentElement.parentElement.parentElement.id));
			$("select.select-table").change((e) => selectedFkTab(e.target.parentElement.parentElement.id));
			$("select.select-column").change((e) => selectedFkCol(e.target.parentElement.parentElement.id));
			$("#selectAllButton").click((e) => $("button.select-button").click());
			$("#unselectAllButton").click((e) => $("button.unselect-button").click());
			$("#whereCriteria").change(updateQuery);
			updateQuery();
			prepareAllSelectedFks();
		}); 
    </script>
</body>
</html>