<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Log onto console only, with default format -->
	<appender name="STDOUT_QUERY" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[QUERY] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT_TRANSFORMERS" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[TRANSFORMER][%thread] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT_RESOLUTIONS" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%boldBlue([RESOLUTION]) %blue(%msg%n)</pattern>
		</encoder>
	</appender>

	<!-- Explicit logger for Extractor queries. Log it here into current console on custom format -->
	<logger name="extractor.queries" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT_QUERY" />
	</logger>

	<!-- Explicit logger for Identifier queries. Log it here into current console on custom format -->
	<logger name="identifier.queries" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT_QUERY" />
	</logger>

	<!-- Explicit logger for Transformer processes. Log it here into current console on custom format -->
	<logger name="transformer.results" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDOUT_TRANSFORMERS" />
	</logger>

	<logger name="fr.uem.efluid.tools.MergeResolutionProcessor" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT_RESOLUTIONS" />
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>