<!DOCTYPE html>
<html layout:decorate="~{layouts/wizzard.html}">
<head>
</head>
<body>
	<span layout:fragment="content">
		<span class="w-bc">Ajout d'utilisateur > Domaines > Dictionnaire initial > Preparation de paramètre > <span class="active">fin</span></span>
		<br/>
		<div class="alert alert-primary" role="alert">
			La configuration initale est maintenant terminée. Vous pouvez continuer à utiliser l'application normalement.
		</div>
		<a href="index.html" class="btn btn-dark btn-sm float-right" th:href="@{/ui/}">Continuer sur l'application</a>
	</span>
	<script layout:fragment="script">

    </script>
</body>
</html>