<!DOCTYPE html>
<html layout:decorate="~{layouts/wizzard.html}">
<head>
</head>
<body>
	<span layout:fragment="content">
		<span class="w-bc">Ajout d'utilisateur > Projets > Dictionnaire initial > <span class="w-active">Preparation de paramètre</span> > fin</span>
		<br/>
		<div class="alert alert-primary" role="alert">
			Si le dictionnaire est configuré, il est possible de préparer un premier lot de paramétrage établissant la situation "initiale". 
			Cette opération n'est possible que si un dictionnaire a été configuré. Sinon vous pourrez réaliser cette opération plus tard.
        </div>
        <br/>
        <div th:if="${dictionaryExists}">
        	<div th:if="${preResult == null}">
				<div class="alert alert-secondary" role="alert">
					Le dictionnaire est configuré suite à l'import. Il est possible	de lancer l'analyse sur les tables paramétrés, pour tous les projets.
				</div>
				<div class="float-right">
	        		<a href="#" th:href="@{/wizzard/3/init}" class="btn btn-dark btn-sm">Lancer l'analyse initiale pour tous les projets</a>&nbsp;
	        		<a href="/wizzard_user.html" th:href="@{/wizzard/4}" class="btn btn-secondary btn-sm float-right">Ignorer et terminer la configuration</a>
				</div>
        	</div>
	        <div th:if="${preResult != null and preResult.status.name()=='DIFF_RUNNING'}" class="alert alert-secondary" role="alert">
				<strong>Analyse en cours</strong>. Suivant la volumétrie du paramètrage, l'identification du lot initial peut prendre 
				un certain temps. Il n'est pas possible d'arrêter un traitement en cours. Une fois l'analyse complétée à 100%, un temps supplémentaire peut être nécessaire pour enregistrer les données identifiées
				<br/><br/>
			  	<div class="progress">
					<div id="progressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:00%">00%</div>
			  	</div>
			</div>
			<div th:if="${preResult != null and preResult.status.name() != 'DIFF_RUNNING'}">
				<div class="alert alert-secondary" role="alert">
					<strong>L'analyse est terminée pour tous les projets.</strong> <span th:text="${preResult.totalDiffSize}">134</span> entrées d'index ont été identifiées en tout, 
					pour <span th:text="${preResult.totalTableCount}">12</span> tables de paramètrages et 
					<span th:text="${preResult.totalDomainsCount}">4</span> domaines
					fonctionnels concernés (attention, certaines peuvent être reprises sur plusieurs projet).
					Le lot initial a été créé sous le nom "Lot initial" sous chacun des <span th:text="${preResult.totalProjectCount}">4</span> projets.
				</div>
				<a href="/wizzard_user.html" th:href="@{/wizzard/4}" class="btn btn-dark btn-sm float-right">Terminer la configuration</a>
			</div>
		</div>
		<div th:if="${!dictionaryExists}" class="alert alert-secondary" role="alert">
			<strong>Aucun dictionnaire trouvé, le lot initial devra être mis en place ultérieurement</strong>
			<a href="/wizzard_user.html" th:href="@{/wizzard/4}" class="btn btn-dark btn-sm float-right">Terminer la configuration</a>
		</div>
	</span>
	<script layout:fragment="script">
		 /*<![CDATA[*/

    	// Start loading
    	$(document).ready(() => {
			var fromType = /*[[${preResult != null and preResult.status.name()=='DIFF_RUNNING'}?'diff_check':'']]*/ 'diff_check';
			if(fromType === 'diff_check'){
				checkProgress('/wizzard/3/progress', '/wizzard/3/commit?commitName=:tada:%20Lot%20initial');
			}
		}); 
		
        /*]]>*/
    </script>
</body>
</html>