<!DOCTYPE html>
<html layout:decorate="~{layouts/wizzard.html}">
<head>
</head>
<body>
	<span layout:fragment="content">
		<span class="w-bc">Ajout d'utilisateur > <span class="w-active">Dictionnaire initial</span> > Preparation de paramètre > fin</span>
		<br/>
		<div class="alert alert-primary" role="alert">
			Le dictionnaire est la base de définition des tables de paramétrage gérées avec l'application. Ces tables sont basées sur le contenu de la base de données
			de Efluid, et sont associées à des domaines fonctionnels. Au moins un domaine fonctionnel doit être créé.<br/>
        	Ici vous pouvez indiquer un premier domaine fonctionnel que vous pourrez compléter plus tard, ou fournir un fichier d'import existant contenant un dictionnaire
        	partiel ou complet.<br/>
        	Si vous compter recevoir des packages de paramètrages, <b>il est recommandé de créer le dictionnaire en important celui de référence</b>.
        </div>
        <form action="/wizzard/2.html" th:action="@{/wizzard/2/create}" method="post">
			<div class="form-group">
				<label for="domainName">Saisir un nom de domaine fonctionnel à créer</label>
				<input id="domainName" type="text" class="form-control" name="domainName" size="50"/>
			</div>
			<div>
				<button id="nextButton" type="submit" class="btn btn-outline-success btn-sm float-right" disabled="disabled">Créer le domaine et continuer</button>
			</div>
		</form>
		<br/>
		<br/>
		<form action="#" th:action="@{/wizzard/2/upload}" method="post" enctype="multipart/form-data">
			<label for="import">Ou importer un package de dictionnaire existant</label><br/>
			<label class="btn btn-sm btn-primary">
				Choisir un fichier à importer <input name="import" id="importInput" type="file" hidden="true"/>
			</label>
			<span class="file-display">Fichier sélectionné : <span id="displayFile">- aucun -</span></span>
			<input type="submit" class="btn btn-success-outline btn-sm float-right" id="importSubmit" disabled="disabled" value="Importer les données dans le dictionnaire"/>
		</form>
	</span>
	<script layout:fragment="script">
		 /*<![CDATA[*/
    
		const checkContinue = () => {
			if($("#domainName").val() !== ''){
				$("#nextButton").prop('disabled', false);
				$("#nextButton").removeClass("btn-outline-success").addClass("btn-success");
			} else {	
				$("#nextButton").prop('disabled', true);
				$("#nextButton").removeClass("btn-success").addClass("btn-outline-success");
			}
        };
		
		// Display of file 
		const displayFile = () => {
			hideDisplays();
			var file = $("#importInput").val();
			console.log(file);
			if(file.endsWith(".zip") || file.endsWith(".par")){
				$("#displayFile").text(file);
				$("#importSubmit").prop('disabled', false);
				$("#importSubmit").removeClass("btn-outline-success").addClass("btn-success");
			} else {
				showError("Le fichier fourni n'est pas dans un format valide. Seules les archives PAR sont supportées."); 
				$("#importSubmit").prop('disabled', true);
				$("#importSubmit").removeClass("btn-success").addClass("btn-outline-success");
			}
		};
        
    	// Init actions
    	$(document).ready(() => {
			$("#importInput").change(displayFile);
			$("#domainName").change(checkContinue);
			$("#domainName").keypress(checkContinue);
			checkContinue();
		}); 
		
        /*]]>*/
    </script>
</body>
</html>