---
## PARAMETER MANAGER CONFIG
datagate-efluid:

    pool.connections:
        max: 50
        min: 5

    managed-datasource:
        driver-class-name: oracle.jdbc.OracleDriver
        url: jdbc:oracle:thin:@CHANGE_ME:49161:xe
        username: CHANGE_ME
        password: CHANGE_ME
        connection-test-query: SELECT 1 from DUAL
        max-pool-size: ${datagate-efluid.pool.connections.max}
        minimum-idle: ${datagate-efluid.pool.connections.min}
        timeout: 60000
        meta:
            filter-schema: CHANGE_ME
            search-fk-type: oracle-by-name
            preload: false
        query:
            table-names-protected: true
            column-names-protected: true
            database-date-format: dd-MM-yyyy HH:mm:ss
            join-on-nullable-keys: true
        value:
            keep-empty: false

    managed-updates:
        check-update-missing-ids: true
        check-delete-missing-ids: true
        output-failed-query-set: true
        output-failed-query-set-file: update-errors.out

    display:
        combine-similar-diff-after: 10
        history-page-size: 20
        diff-page-size: 15
        details-page-size: 15
        test-row-max-size: 10
        get-current-selected-project-short-name: 10

    web-options:
        enable-custom-h2-console: false

    dictionary:
        select-pk-as-default-keys: true

    versions:
        use-model-id-as-version: true

    security:
        salt: 12345678901234567890123456789012
        accounting: DATABASE
        ldap:
            user-search-base: /
            username-attribute: uid
            mail-attribute: mail
            use-auth-binding: true

    details:
        version: @project.version@

    extractor:
        show-sql: false
        use-label-for-col-name: false

    attachments:
        enable-sql-execute: true
        enable-display: true

    imports:
        check-model-version: true
        check-dictionary-compatibility: false
        check-missing-ref-commits: false
        record-merge-warnings: true

    async-preparation:
        #thread-pool-size: 40
        #strategy: THREAD_POOL
        strategy: DB_POOL
        timeout-seconds: 30000

    model-identifier:
        enabled: true
        class-name: fr.uem.efluid.tools.EfluidDatabaseIdentifier
        show-sql: false

    merge.rule-file: classpath:merge-resolution-rules.json

## TECH FEATURES CUSTOM
spring:
    profiles:
        active: prod

    mvc:
        favicon:
            enabled: false

    thymeleaf:
        cache: false
        check-template: true
        check-template-location: true
        servlet.content-type: text/html
        encoding: UTF-8
        mode: HTML
        enabled: true

    datasource:
        url: jdbc:postgresql://CHANGE_ME/MANAGED
        driver-class-name: org.postgresql.Driver
        username: CHANGE_ME
        password: CHANGE_ME
        hikari:
            maximum-pool-size: ${datagate-efluid.pool.connections.max}
            minimum-idle: ${datagate-efluid.pool.connections.min}
        #    leak-detection-threshold: 3000

    servlet:
        multipart:
            max-request-size: 51MB
            max-file-size: 50MB

    jpa:
        open-in-view: false
        show-sql: false
        hibernate:
            ddl-auto: validate
        properties:
            hibernate:
                jdbc.batch_size: 30
                order_inserts: true
                order_updates: true
                temp.use_jdbc_metadata_defaults: false
                dialect: org.hibernate.dialect.Oracle12cDialect
    ldap:
        base:
        password:
        username:
        urls:

    flyway:
        enabled: true
        url: ${spring.datasource.url}
        user: ${spring.datasource.username}
        password: ${spring.datasource.password}
        baseline-on-migrate: true
        baseline-version: 0

    output:
        ansi:
            enabled: ALWAYS
## WEB SERVER CONFIG
server:
    servlet:
        context-path:
        session.cookie:
            name: JSESSIONID_${server.servlet.context-path}${server.port}
    port: 8081

## TEST LOGGING CONFIG
logging:
    level:
        fr.uem.efluid: INFO
        org.flywaydb: INFO

        extractor.queries: INFO
        identifier.queries: INFO
        transformer.results: INFO
    pattern:
        file: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
        console: "%clr(%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd HH:mm:ss.SSS}}){faint} - %clr(${LOG_LEVEL_PATTERN:%5p}) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
    logback:
        rollingpolicy:
            max-history: 30
            max-file-size: 10MB
