<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Liste des lots du projet <span th:class="|project-theme-txt-${project.color}|" th:text="${project.name}">project</span></h5>
		<table class="table table-sm">
		    <thead>
		        <tr>
		            <th scope="col">Lots de modifications</th>
		            <th scope="col">Domains couverts</th>
		            <th scope="col">Version dict. / Model</th>
		            <th scope="col">Créé par</th>
		            <th scope="col">Le</th>
                    <th scope="col">Status</th>
		            <th scope="col"></th>
		        </tr>
		    </thead>
		    <tbody>
				<tr th:if="${commits.empty}">
					<td colspan="100%" class="empty-list-message">Aucun lot existant</td>
				</tr>
		        <tr th:each="commit, cstat : ${commits}">
		            <td th:utext="${custom.processGitmoji(commit.comment)}">Préchargement configuration</td>
		            <td th:text="${commit.domainNames}">Fonct domains</td>
		            <td th:text="|${commit.versionName} / ${commit.versionModelId}|">1.0.0</td>
		            <td th:text="${commit.originalUserEmail}">System</td>
		            <td th:text="${custom.format(commit.createdTime)}">01/11/2017</td>
                    <td th:text="${commit.state}">Mergé</td>
		            <td>
		            	<a href="./details.html" th:href="@{/ui/details/{id}(id=${commit.uuid})}" class="btn btn-sm btn-secondary float-right">Details</a>
						<a href="./revert.html" th:if="${commit.uuid.equals(revertableCommit)}" th:href="@{/ui/revert/{id}(id=${commit.uuid})}" type="button" class="btn btn-sm btn-warning">Revert</a>
					</td>
		        </tr>
		    </tbody>
		</table>
		<p>
			<div class="float-right">
				<a href="./prepare.html" th:href="@{/ui/prepare}" class="btn btn-primary float-right" type="button">Préparer un nouveau lot de paramétrage</a><br/><br/>
			</div>
		</p>
	</span>
	<script layout:fragment="script">

		$('#color-nav-2').css("font-weight", "bold");
		$('#collapseExample2').css("display", "block");
		$('#li-5').css("font-weight", "bolder");

    	$(document).ready(() => {
    		supportGitmojis();
		});

	</script>
</body>
</html>