<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
    	<form action="commit-save.html" th:action="@{/ui/prepare/save}" method="post">
        	<p>
	        	<h5>Identification du lot de modifications</h5>
	        	
                <div class="form-group">
	        		<span>Projet <span th:class="|project-theme-txt-${project.color}|" th:text="${project.name}">project</span>, 
						pour la version <span class="version-name" th:text="${version.name}"></span></span>
				</div>
	        	
                <table class="table">
					<thead>
						<tr><th scope="col">Domaines fonctionnels concernés</th></tr>
					</thead>
					<tr th:each="domain, tstat : ${preparation.selectedFunctionalDomainNames}">
                       	<td th:text="${domain}">Gestion du matériel</td>
                   	</tr>
				</table>
                        
                <div class="form-group">
                	<label for="whereCriteria"><b>Description du lot de modification</b></label>
					<textarea id="commitComment" th:field="${preparation.commitData.comment}" class="form-control" rows="10"></textarea>
					<small class="form-text text-muted">Champ obligatoire. Les <a href="https://gitmoji.carloscuesta.me/">Gitmojis</a> sont supportés.</small>
				</div>
				
				<!-- Attachment files for current commit -->
                <div th:if="${preparation.commitData.attachments} != null and ${preparation.commitData.attachments.size()} > 0" class="form-group">
					<table class="table table-sm">
					    <thead>
					        <tr>
					            <th scope="col">
					            	Pièces jointes intégrées au lot.
					            	<span th:if="${preparation.preparingState.name()=='MERGED' && preparation.attachmentExecuteSupport}" class="file-runnable-com">Cocher les scripts à exécuter</span>
					            </th>
					            <th scope="col">&nbsp;</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr th:each="attachment, astat : ${preparation.commitData.attachments}">
					            <td>
					            	<img src="/ico.png" th:src="|/ico-${attachment.type}.png|" width="18" height="24" th:title="${attachment.type}"/>
					            	&nbsp;
					            	<span th:text="${attachment.name}">test.sql</span>
					            	<span th:if="${attachment.type.runnable && preparation.attachmentExecuteSupport}" class="file-runnable-com">Executable</span>
					            </td>
					            <td>
									<div class="float-right">
		           						<span th:if="${attachment.type.runnable && preparation.attachmentExecuteSupport}">
		           							<span class="file-runnable-com">Executer :&nbsp;</span>
		           							<input type="checkbox" th:field="${preparation.commitData.attachments[__${astat.index}__].executed}">
		           							&nbsp;
		           						</span>
		           						<button th:if="${attachment.type.editable && preparation.attachmentDisplaySupport}" type="button" class="btn btn-sm btn-primary" th:attr="onclick=|openAttachment('','${attachment.name}')|">Consulter</button>
		           						&nbsp;
		           						<a th:if="${preparation.preparingState.name()!='MERGED'}" href="./commit.html" th:href="@{/ui/attachment/remove?name={name}(name=${attachment.name})}" class="btn btn-sm btn-secondary float-right">Retirer</a>		           						
		           					</div>
		            			</td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</p>
			
			<!-- Save / update / cancel buttons -->
			<p>
				<div class="float-right">
					&nbsp;
					<a th:if="${preparation.preparingState.name()=='LOCAL'}" class="btn btn-secondary btn-sm" th:href="@{/ui/prepare}" href="prepare.html">Revenir en arrière</a>
					<a th:if="${preparation.preparingState.name()!='LOCAL'}" class="btn btn-secondary btn-sm" th:href="@{/ui/merge}" href="prepare.html">Revenir en arrière</a>
					<input type="submit" id="commitSubmit" class="btn btn-success btn-sm" title="Le commentaire est obligatoire" value="Confirmer les opérations"/><br/><br/>
				</div>
			</p>
			
		</form>
		
		<!-- Upload file form / button -->
		<span th:if="${preparation.preparingState.name()!='MERGED'}">
			<form action="#" th:action="@{/ui/attachment/upload}" method="post" enctype="multipart/form-data">
				<label class="btn btn-sm btn-primary">
					Spécifier une pièce jointe à ajouter <input name="import" id="importInput" type="file" hidden="true"/>
				</label>
				<input type="submit" class="btn btn-success-outline btn-sm float-right" id="importSubmit" disabled="disabled" value="Ajouter la pièce jointe"/>
			</form>
			<span class="file-display">Fichier sélectionné : <span id="displayFile">- aucun -</span></span>
		</span>
	</span>
	 <script layout:fragment="script" th:inline="javascript">
		 /*<![CDATA[*/
    
    	// Control on mandatory field
    	const checkCommitComment = () => {
    		var com = $("#commitComment").val();
    		console.log(com != '');
    		if(com != ''){
    			console.log("enable");
    			$("#commitSubmit").prop('disabled', false);
				$("#commitSubmit").removeClass("btn-outline-success").addClass("btn-success");
    		} else {
    			console.log("disable");
    			$("#commitSubmit").prop('disabled', true);
				$("#commitSubmit").removeClass("btn-success").addClass("btn-outline-success");
    		}
    	};

		// Display of file 
		const displayFile = () => {
			hideDisplays();
			var file = $("#importInput").val();
			console.log(file);
			$("#displayFile").text(file);
			$("#importSubmit").prop('disabled', false);
			$("#importSubmit").removeClass("btn-outline-success").addClass("btn-success");
		};

    	// Init actions
    	$(document).ready(() => {
			$("#commitComment").on('input',checkCommitComment);
			checkCommitComment();
			$("#importInput").change(displayFile);
		}); 
		
        /*]]>*/
    </script>
</body>
</html>