<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Edition du dictionnaire pour le projet <span th:class="|project-theme-txt-${project.color}|" th:text="${project.name}">project</span>
			<span class="float-right"><h5 th:text=" 'Version: ' + ${version.name}"></h5></span>
		</h5>
		<div>
			<a th:href="@{/ui/dictionary/new}" href="./dictionary_123.html" class="btn btn-success btn-sm float-right" type="button">Ajouter une nouvelle table de paramètrage</a><br/><br/>
		</div>
		<span class="help">Le dictionnaire représente les tables de l'application gérée à prendre en compte comme étant du paramètrage.</span>
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Domaine</th>
					<th scope="col">Nom</th>
					<th scope="col" width="50%">Requête de sélection</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${dictionary.empty}">
					<td colspan="100%" class="empty-list-message">Aucune table de paramètrage spécifiée</td>
				</tr>
				<tr th:each="entry : ${dictionary}" th:id="${entry.uuid}">
					<td th:text="${entry.domainName}">Gestion du matériel</td>
					<td th:text="${entry.name}">Catégorie de matériel</td>
					<td><span class="query-display" th:text="${entry.query}">SELECT COLKEY, COLA, COLB, COLC FROM TCATEGORYMATERIEL WHERE 1=1 ORDER BY COLKEY</span></td>
					<td><span class="float-right">
						<a th:href="@{|/ui/dictionary/edit/${entry.uuid}|}" href="./dictionary_123.html" class="btn btn-primary btn-sm" type="button">Editer</a>
						<button class="btn btn-secondary btn-sm delete-button" type="button" th:title="!${entry.canDelete}?'Impossible de supprimer un type de paramètre pour lequel des lots de paramètrage existent'" th:disabled="!${entry.canDelete}">Supprimer</button>
					</span></td>
				</tr>
			</tbody>
		</table>
	</span>
	<script layout:fragment="script" th:inline="javascript">

	 	$('#currentLocation').text("Modifier le dictionnaire");
	 	$('#color-nav-1').css("font-weight", "bold");
	 	$('#collapseExample1').css("display", "block");
		$('#li-2').css("font-weight", "bolder");

		// Delete buttons
		const deleteButtonAction = (e) => {
			hideDisplays();
			var uuid = e.target.parentElement.parentElement.parentElement.id;
			$.post("/ui/dictionary/remove/" + uuid, null, (data, status) => {
				showSuccess("Table de paramètrage retirée avec succès");
				$("#" + uuid).remove();
			});
		};
		
    	// Init actions
    	$(document).ready(() => {
			$("button.delete-button").click(deleteButtonAction);
			var fromType = /*[[${from}?${from}:'']]*/ 'success_edit';
			if(fromType === 'success_edit') showSuccess("Table de paramètrage ajoutée avec succès au dictionnaire");
		}); 
		
	</script>
</body>
</html>