<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Edition du dictionnaire pour le projet <span th:class="|project-theme-txt-${project.color}|" th:text="${project.name}">project</span>
			<span class="float-right"><h5 th:text=" 'Version: ' + ${version.name}"></h5></span>
		</h5>
		<div th:if="${notCompatibleTables != null && not notCompatibleTables.empty}" class="alert alert-danger" role="alert">
				<div class="table-remarks">
					<div id="tableClauseRemarkAreaButton" class="reducer reducer-close float-right" title="afficher / masquer le détail">&nbsp;</div>
					<span><b>La modification du critère de filtrage n'a pas été réalisée sur les tables non compatibles suivantes :</b></span>
					<span id="tableClauseRemarkArea">
						<ul>
							<li th:each="table, estat : ${notCompatibleTables}" th:text="${table.tableName}">T_TABLE</li>
						</ul>
					</span>
				</div>
			</div>
		<div>
		<a th:href="@{/ui/dictionary/new}" href="./dictionary_123.html" class="btn btn-success btn-sm float-right" type="button">Ajouter une nouvelle table de paramètrage</a><br/><br/>
		</div>
		<span class="help">Le dictionnaire représente les tables de l'application gérée à prendre en compte comme étant du paramètrage.</span>
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Domaine</th>
					<th scope="col">Nom</th>
					<th scope="col" width="50%">Requête de sélection</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${dictionary.empty}">
					<td colspan="100%" class="empty-list-message">Aucune table de paramètrage spécifiée</td>
				</tr>
				<tr th:each="entry : ${dictionary}" th:id="${entry.uuid}">
					<td th:text="${entry.domainName}">Gestion du matériel</td>
					<td th:text="${entry.name}">Catégorie de matériel</td>
					<td><span class="query-display" th:text="${entry.query}">SELECT COLKEY, COLA, COLB, COLC FROM TCATEGORYMATERIEL WHERE 1=1 ORDER BY COLKEY</span></td>
					<td><span class="float-right">
						<a th:href="@{|/ui/dictionary/edit/${entry.uuid}|}" href="./dictionary_123.html" class="btn btn-primary btn-sm" type="button">Editer</a>
						<button class="btn btn-secondary btn-sm delete-button" type="button" th:title="!${entry.canDelete}?'Impossible de supprimer un type de paramètre pour lequel des lots de paramètrage existent'" th:disabled="!${entry.canDelete}">Supprimer</button>
					</span></td>
				</tr>
			     <tr>
					<form action="#" th:action="@{/ui/dictionary/clause}" method="post">
			         <td colspan="3"><input type="text" name="clause" id="whereClause" class="form-control" placeholder="Nouveau critère de filtrage pour toutes les tables" aria-label="Nouveau critère de filtrage"/></td>
                     <td><input type="submit" class="btn btn-outline-secondary btn-sm float-right" disabled="disabled" id="clauseSubmit" value="Appliquer le critère"/></td>
					</form>
				 </tr>
			</tbody>
		</table>
	</span>
	<script layout:fragment="script" th:inline="javascript">

	 	$('#currentLocation').text("Modifier le dictionnaire");
	 	$('#color-nav-1').css("font-weight", "bold");
	 	$('#collapseExample1').css("display", "block");
		$('#li-2').css("font-weight", "bolder");

		// Delete buttons
		const deleteButtonAction = (e) => {
			hideDisplays();
			var uuid = e.target.parentElement.parentElement.parentElement.id;
			$.post("/ui/dictionary/remove/" + uuid, null, (data, status) => {
				showSuccess("Table de paramètrage retirée avec succès");
				$("#" + uuid).remove();
			});
		};

		const checkChangeCriteria = () => {
			hideDisplays();
			if($("#whereClause").val().length > 0){
				$("#clauseSubmit").prop('disabled', false);
				$("#clauseSubmit").removeClass("btn-outline-secondary").addClass("btn-secondary");
			} else {
				$("#clauseSubmit").prop('disabled', true);
				$("#clauseSubmit").removeClass("btn-secondary").addClass("btn-outline-secondary");
			}
		}

		// For remarks hidding
		const hideAndShowTableClauseRemarksAction = () => {
			hideDisplays();
			var area = $("#tableClauseRemarkArea");
			var button = $("#tableClauseRemarkAreaButton");
			if(button.attr("class").indexOf('reducer-close') !== -1){
				area.hide();
				button.removeClass("reducer-close").addClass("reducer-open");
			} else {
				area.show();
				button.removeClass("reducer-open").addClass("reducer-close");
			}
		};

    	// Init actions
    	$(document).ready(() => {
			$("button.delete-button").click(deleteButtonAction);
			$("#whereClause").bind('input',checkChangeCriteria)
			var fromType = /*[[${from}?${from}:'']]*/ 'success_edit';
			if(fromType === 'success_edit') showSuccess("Table de paramètrage ajoutée avec succès au dictionnaire");
			if(fromType === 'success_clause') showSuccess("Critère de filtrage appliqué sur les tables compatibles");
			$("#tableClauseRemarkAreaButton").click((e) => hideAndShowTableClauseRemarksAction());
		});

	</script>
</body>
</html>