<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>

	<div layout:fragment="content" class="datagate-home">

		<div class="left-bloc"
			 style="text-align: center;
    		 overflow: scroll;">
			<p th:text="'Version: '+ ${lastVersion}"></p>
			<p th:if="${project != null}">Domaines fonctionnels : <span th:text="${details.domainsCountForProject}">15</span></p>
			<p>Tables administrées : <span th:text="${details.dictionaryCount}">100</span></p>
			<li>Base de données source : <span th:text="${details.dbUrl}">ORACLE_DB_SERVER_123</span></li>
			<li th:if="${details.modelDesc != null}">Schema source : <span th:text="${details.modelDesc.schema}">EFLUID</span></li>
			<li th:if="${details.modelDesc != null}">Modèle de données identifié :
				<span th:text="${details.modelDesc.identity}">v1.2.2, schéma ABCDEF</span>
				<span th:if="${details.modelDesc.details != null}" th:text="| - ${details.modelDesc.details}|"> - détails</span>
				<span th:if="${details.modelDesc.updatedTime != null}" th:text="| (dernière mise à jour : ${custom.format(details.modelDesc.updatedTime)})|">(dernier maj : 01/02/2018)</span>
			</li>
		</div>
		<div class="right-bloc">
			<p style="font-size: 1rem;" th:text="'Mon projet'"></p>
			<p style="font-size: 4rem;" th:text="${projectName}"></p>
			<a href="./projects_prefered.html" th:href="@{/ui/projects/select}" class="btn btn-primary" type="button" th:text="'Changer de projet'" style="margin-left: 10px;"></a>
		</div>
		<div class="bottom-bloc">
			<table class="table table-sm">
				<thead>
				<tr>
					<th scope="col">Derniers lots de modifications tt</th>
					<th scope="col">Le</th>
				</tr>
				</thead>
				<tbody>
				<tr th:if="${commits.empty}">
					<td colspan="100%" class="empty-list-message">Aucun lot existant</td>
				</tr>
				<tr th:each="commit, cstat : ${commits}">
					<td th:utext="${custom.processGitmoji(commit.comment)}">Préchargement configuration</td>
					<td th:text="${custom.format(commit.createdTime)}">01/11/2017</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script layout:fragment="script">
		$(document).ready(() => {
    		supportGitmojis();
		});
	</script>
</body>
</html>