<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DataGate</title>
    <meta charset="utf-8"/>
	<link rel="icon" type="image/png" th:href="@{/favicon.png}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}"/>
	<link rel="stylesheet" href="/css/core.css" media="screen"/>
</head>
<body>
    <div class="container-fluid" id="app-container">
    	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:56px;">
            <span class="navbar-brand" ></span>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

						<span class="nav-link">Authentification</span>

			</div>
		</nav>
        <div class="row"><div class="col-1"><br/></div></div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
		    	<span>
					<form action="index.html" th:action="@{/callback?client_name=web}" method="post">
						<div class="form-group">
							<label for="username">Login</label>
							<input type="text" class="form-control" id="username" name="username" size="50"/>
						</div>
						<div class="form-group">
							<label for="password">Mot de passe</label>
							<input type="password" class="form-control" id="password" name="password" size="50"/>
						</div>
						<div>
							<span class="remark">Instance <span th:text="${info.instanceName}">SOURCE</span> - v<span th:text="${info.version}">1</span></span>
							<button id="nextButton" type="submit" class="btn btn-outline-success btn-sm float-right">Se connecter</button><br/><br/>
						</div>
					</form>
			      </span>
		      <div id="successDisplay" class="alert alert-success" style="display:none">C'est un succès</div>
		      <div id="errorDisplay" class="alert alert-danger" style="display:none">C'est un echec</div>
		   </div>
		</div>
    </div>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/1.13.0/dist/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/scripts/utils.js}"></script>
</body>
</html>