<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
	<span layout:fragment="content">
		<span th:if="${preparation.status.name()}=='FAILED'">
			<div class="alert alert-danger">
				<h4>L'analyse des lots pendant l'import a rencontré une erreur</h4>
				<div th:replace="layouts/commons::error-display (${preparation.errorDuringPreparation.error},${preparation.errorDuringPreparation.payload})">...</div>
				<span class="remark">
					La préparation implique une extraction de toutes les données des tables identifiées comme du paramétrage dans le dictionnaire. 
					En cas de soucis sur ces données, le processus peut ne pas aboutir. Pour recommencer, importer à nouveau le fichier 
					Si nécessaire, merci de communiquer le code d'erreur suivant : <span th:text="|${preparation.errorDuringPreparation.error}-${preparation.errorDuringPreparation.timestamp}|">JSON_WRITE_ERROR-12414421224112</span>
				</span>
			</div>
			<a href="index.html" class="btn btn-secondary btn-sm" th:href="@{/ui/}">Revenir à la page d'accueil</a>
			<a th:href="@{/ui/pull}" href="#" class="btn btn-dark btn-sm">Retourner à l'import</a>
		</span>
		<form th:if="${preparation.status.name()}!='FAILED'" action="/merge.html" th:action="@{/ui/merge/commit}" method="post">
			<span th:if="${not needsAction}">
				<div class="alert alert-secondary">
					<h4>L'import n'a révélé aucune différence par rapport aux données actuelles</h4>
					<span class="remark">
						La totalité des modifications présentes dans le lot importé sont déjà en place dans la base de donnée actuelle. 
						Valider le lot n'apportera donc pas de changements, mais reste nécessaire pour éviter une comparaison de données
						 inutile lors des prochains imports.
					</span>
				</div>
			</span>
			<div th:if="${not preparation.diffRemarks.empty}" class="alert alert-danger" role="alert">
				<div class="diff-remarks">
					<div id="diffRemarkAreaButton" class="reducer reducer-close float-right" title="afficher / masquer le détail pour la table de paramétrage">&nbsp;</div>
					<span><b>Des avertissements ont été identifiés suite à la recherche de différences :</b></span>
					<span id="diffRemarkArea">
						<ul th:each="remark, estat : ${preparation.diffRemarks}" th:id="|common_remark_${estat.index}|" th:switch="${remark.type.name()}">
							<li th:case="'MISSING_ON_UNCHECKED_JOIN'">
								La <span th:text="${remark.location}">table TABLE</span> possède un ou plusieurs liens vers d'autres tables, et des entités
								 référencées n'existent pas. Un total de <span th:text="${remark.payload.size()}">12</span> ligne(s) sont ainsi incorrectement remontées,
								 et sont actuellement ignorées dans le résultat. Dans certains cas, cela peut induire des identifications de modifications fausses
								 pour la <span th:text="${remark.location}">table TABLE</span>.<br/><u>Entrées manquantes identifiées</u> :
								 <ul>
								 	<li th:each="missing, mstat : ${remark.payload}" th:id="${mstat.index}">
								 		<span class="table-key" th:text="'Colonne ' + ${missing.getColumnName()}"></span> : <span th:text="${missing.key}" class="table-key">KEY</span>
									</li>
								 </ul>
							</li>
						</ul>
					</span>
				</div>
			</div> 
			<div th:if="${not preparation.emptyDiff}">
				<p>
					<h5>Ensemble des modifications identifiées
						<div class="float-right">
							<div th:if="${needsAction}" class="btn-group" role="group">
								<button type="button" id="selectAllButton" class="btn btn-outline-primary btn-sm">Tout appliquer</button>
								<button type="button" id="rollbackAllButton"  class="btn btn-outline-danger btn-sm">Tout ignorer</button>
							</div>&nbsp;
							<a th:href="@{/ui/merge/cancel}" href="#" class="btn btn-secondary btn-sm">Abandonner</a>
							<a th:if="!${preparation.displayAll}" th:href="@{/ui/merge?showAll=true}" href="/merge?showAll=true" class="btn btn-dark btn-sm">Afficher les égalités</a>
							<a th:if="${preparation.displayAll}" th:href="@{/ui/merge?showAll=false}" href="/merge?showAll=false" class="btn btn-dark btn-sm">Masquer les égalités</a>
						</div>
					</h5>
				</p>
				<table class="table table-sm">
					<thead>
						<tr>
							<th scope="col" width="10%" class="filter filter-domain">Domaine</th>
							<th scope="col" width="10%" class="filter filter-table">Table</th>
							<th scope="col" width="10%" class="filter filter-key">Clé</th>
							<th scope="col" colspan="2" width="70%">Modification</th>
						</tr>
					</thead>
<tbody class="pageHolder">
						<tr id="domainSearchBar" class="search-bar" style="display: none">
			     			<td colspan="100%">
								<select id="domainSearchField" class="form-control form-control-sm col-md-2 float-left" name="domainSearch" style="margin-right:10px">
									<option value="" label="Tous les domaines"/>
									<option th:each="domain, dstat : ${preparation.referencedDomainNames}" th:value="${domain}" th:label="${domain}"/>
								</select>
								<button id="domainFilterButton" type="button" class="btn btn-success btn-sm float-left" onclick="enableFilter('domain')">Filtrer par domaine</button>
								<button id="domainResetButton" type="button" class="btn btn-secondary btn-sm float-left" onclick="disableFilter('domain')" disabled="disabled" style="margin-left:5px!important">Supprimer le filtre</button>
								<button id="domainSortAscButton" type="button" class="btn btn-success btn-sm float-left" onclick="sortAsc('domain')" style="margin-left:15px!important">Tri ASC</button>
								<button id="domainSortDescButton" type="button" class="btn btn-success btn-sm float-left" onclick="sortDesc('domain')" style="margin-left:2px!important">Tri DESC</button>
								<button id="domainSortResetButton" type="button" class="btn btn-secondary btn-sm float-left" onclick="removeSort('domain')" disabled="disabled" style="margin-left:5px!important">Supprimer le tri</button>
								<button id="domainClose" type="button" class="btn btn-outline-danger btn-sm float-right" onclick="closeFilters()">Fermer</button>
							</td>
						</tr>
						<tr id="tableSearchBar" class="search-bar" style="display: none">
			     			<td colspan="100%">
								<input id="tableSearchField" type="text" class="form-control form-control-sm col-md-3 float-left" style="margin-right:10px" name="tableSearch" size="50" placeholder="Table"/>
								<button id="tableFilterButton" type="button" class="btn btn-success btn-sm float-left" onclick="enableFilter('table')">Filtrer par table</button>
								<button id="tableResetButton" type="button" class="btn btn-secondary btn-sm float-left" onclick="disableFilter('table')" disabled="disabled" style="margin-left:5px!important">Supprimer le filtre</button>
								<button id="tableSortAscButton" type="button" class="btn btn-success btn-sm float-left" onclick="sortAsc('table')" style="margin-left:15px!important">Tri ASC</button>
								<button id="tableSortDescButton" type="button" class="btn btn-success btn-sm float-left" onclick="sortDesc('table')" style="margin-left:2px!important">Tri DESC</button>
								<button id="tableSortResetButton" type="button" class="btn btn-secondary btn-sm float-left" onclick="removeSort('table')" disabled="disabled" style="margin-left:5px!important">Supprimer le tri</button>
								<button id="domainClose" type="button" class="btn btn-outline-danger btn-sm float-right" onclick="closeFilters()">Fermer</button>
							</td>
						</tr>
						<tr id="keySearchBar" class="search-bar" style="display: none">
			     			<td colspan="100%">
								<input id="keySearchField" type="text" class="form-control form-control-sm col-md-3 float-left" name="keySearch" style="margin-right:10px" size="50" placeholder="Clé"/>
								<button id="keyFilterButton" type="button" class="btn btn-success btn-sm float-left" onclick="enableFilter('key')">Filtrer par clés</button>
								<button id="keyResetButton" type="button" class="btn btn-secondary btn-sm float-left" onclick="disableFilter('key')" disabled="disabled" style="margin-left:5px!important">Supprimer le filtre</button>
								<button id="keySortAscButton" type="button" class="btn btn-success btn-sm float-left" onclick="sortAsc('key')" style="margin-left:15px!important">Tri ASC</button>
								<button id="keySortDescButton" type="button" class="btn btn-success btn-sm float-left" onclick="sortDesc('key')" style="margin-left:2px!important">Tri DESC</button>
								<button id="keySortResetButton" type="button" class="btn btn-secondary btn-sm float-left" onclick="removeSort('key')" disabled="disabled" style="margin-left:5px!important">Supprimer le tri</button>
								<button id="domainClose" type="button" class="btn btn-outline-danger btn-sm float-right" onclick="closeFilters()">Fermer</button>
							</td>
						</tr>
						<tr id="navBar">
							<td colspan="100%"><div id="navBarContent"></div></td>
						</tr>
					</tbody>
				</table>
				<p>
					<div class="float-right">
						<input type="submit" class="btn btn-success btn-sm" value="Confirmer les opérations"/><br/><br/>
					</div>
				</p>
			</div>
			<div th:if="${preparation.emptyDiff}">
				<p>
					<h5>Aucune nouvelle modification identifiée dans les données de paramètrage par rapport<br/> au contenu de l'import.
						<div class="float-right">
							<a th:href="@{/ui/merge/cancel}" href="#" class="btn btn-secondary btn-sm">Abandonner</a>
							<a th:href="@{/ui/pull}" href="#" class="btn btn-dark btn-sm">Retourner à l'import</a>
						</div>
					</h5>
				</p>
				<div class="alert alert-secondary" role="alert">
					<strong>La recherche de différences n'a identifié aucune nouvelle données de paramètrage par rapport au(x) lot(s) importé(s)</strong>. 
					Le traitement s'appuie sur les tables de paramètrage identifiées dans le dictionnaire, et recherche pour chacune les données actuellement 
					présentes. Il compart ensuite le résultat avec les données déjà stockées dans l'ensemble des lots de modifications présents, complétées
					par les données présentes dans le fichier importé, et recherche si des différences sont présentes. Il n'y a donc actuellement aucune
					différence identifiée : toutes les données de paramètrage ont été déjà validées dans des lots de modification (cela ne veut pas
					nécessairement dire que le fichier avait déjà été importé). 
				</div>
				<p>&nbsp;<br/><br/><br/><br/></p>
			</div>
		</form>
	</span>
    <script layout:fragment="script" th:inline="javascript">
		/*<![CDATA[*/

		// Full search
		var activeSearch = {
			filters: {
				domain:"",
				table:"",
				key:"",
				type:""
			},
			sorts: {
				domain:"",
				table:"",
				key:"",
				type:""
			}
		};
		var associatedTables = /*[[${preparation.referencedTableNames}]]*/ [] ;
		var hasPreparation = /*[[${preparation != null}]]*/ true ;
		var defaultShow = /*[[${preparation != null && preparation.displayAll}?'show':'hide']]*/ 'hide';

		const closeFilters = () => {
			$(".search-bar").hide();
		}

		// filter filter-domain
		const filterDisplay = (head) => {
			var name = head.target.className.split(' ')[1].substr(7);
			closeFilters();
			$("#" + name + "SearchBar").show();
		}

		const enableFilter = (name) => {
			console.info('enableFilter ' + name);
			$("#" + name + "FilterButton").prop('disabled', true);
			$("#" + name + "ResetButton").prop('disabled', false);
			$(".filter-" + name).addClass("filtered");
			var filter = $("#" + name + "SearchField").val();
			activeSearch.filters[name] = filter;
			getPageContent(0);
		}

		const disableFilter = (name) => {
			console.info('disableFilter ' + name);
			$("#" + name + "FilterButton").prop('disabled', false);
			$("#" + name + "ResetButton").prop('disabled', true);
			$(".filter-" + name).removeClass("filtered");
			$("#" + name + "SearchField").val("");
			activeSearch.filters[name] = "";
			getPageContent(0);
		}

		const sortAsc = (name) => {
			console.info('sortAsc ' + name);
			$("#" + name + "SortAscButton").prop('disabled', true);
			$("#" + name + "SortDescButton").prop('disabled', false);
			$("#" + name + "SortResetButton").prop('disabled', false);
			$(".filter-" + name).removeClass('sorted-desc').addClass('sorted-asc');
			activeSearch.sorts[name] = "ASC";
			getPageContent(0);
		}

		const sortDesc = (name) => {
			console.info('sortDesc ' + name);
			$("#" + name + "SortAscButton").prop('disabled', false);
			$("#" + name + "SortDescButton").prop('disabled', true);
			$("#" + name + "SortResetButton").prop('disabled', false);
			$(".filter-" + name).removeClass('sorted-asc').addClass('sorted-desc');
			activeSearch.sorts[name] = "DESC";
			getPageContent(0);
		}

		const removeSort = (name) => {
			console.info('removeSort ' + name);
			$("#" + name + "SortAscButton").prop('disabled', false);
			$("#" + name + "SortDescButton").prop('disabled', false);
			$("#" + name + "SortResetButton").prop('disabled', true);
			$(".filter-" + name).removeClass('sorted-asc').removeClass('sorted-desc');
			activeSearch.sorts[name] = "";
			getPageContent(0);
		}

		const updateSelectItem = (index, selected, rollbacked) => {

			$.post("/ui/prepare/selection/line/" + index + "?selected="+ selected + "&rollbacked=" + rollbacked, null, (data, status) => {
				
				// Reset 2 buttons
				$("#" + index + "_item button.select-button").removeClass("btn-primary").addClass("btn-outline-primary");
				$("#" + index + "_item button.rollback-button").removeClass("btn-danger").addClass("btn-outline-danger");

				// Apply selected button
				if(selected){
					$("#" + index + "_item button.select-button").removeClass("btn-outline-primary").addClass("btn-primary");
				} else {
					$("#" + index + "_item button.rollback-button").removeClass("btn-outline-danger").addClass("btn-danger");
				}
			});
		};

		/* For pagination */
		const createNavBarItem = (active, num) => {
			return '<li class="page-item' + (active ? ' active' : '') + '"><a class="page-link" style='+ (active ? 'color:#ffffff' : 'color:#007bff') + ' onclick="getPageContent(' + num + ')">' + (num + 1) + '</a></li>';
		};

		const createNavBarPrevious = (num) => {
			return '<li class="page-item"><a class="page-link" style=color:#007bff onclick="getPageContent(' + num + ')">Précédent</a></li>';
		};

		const createNavBarNext = (num) => {
			return '<li class="page-item"><a class="page-link" style=color:#007bff onclick="getPageContent(' + num + ')">Suivant</a></li>';
		};

		const displayNavBar = (pageIndex, pageCount) => {

			var navBar = '<nav aria-label="navbar"><ul class="pagination">';

			var splitOneStart = -1;
			var splitOneEnd = -1;
			var splitTwoStart = -1 ;
			var splitTwoEnd = -1 ;

			// Intermediate "split" in navBar depending on current pos and size
			if (pageCount >= 8) {

				// Current at the beginning : 1 spacer
				if (pageIndex < 4) {
					splitOneStart = 4;
					splitOneEnd = pageCount - 3;
				}

				// Current at the end : 1 spacer
				else if (pageIndex > pageCount - 5) {
					splitOneStart = 2;
					splitOneEnd = pageCount - 5;
				}

				// Current elsewhere : 2 spacers around
				else {
					splitOneStart = 2;
					splitOneEnd = pageIndex - 2;
					splitTwoStart = pageIndex + 2;
					splitTwoEnd = pageCount - 3;
				}
			}

			if(pageIndex > 0){
				navBar += createNavBarPrevious(pageIndex-1);
			}

			for(i = 0; i < pageCount; i++) {
				// First optional split
				if(i >= splitOneStart && i < splitOneEnd){
					i = splitOneEnd;
					navBar += '<li class="page-item disabled"><a class="page-link" href=""><span>...</span></a></li>';
				} else if(i >= splitTwoStart && i < splitTwoEnd){
					i = splitTwoEnd;
					navBar += '<li class="page-item disabled"><a class="page-link" href=""><span>...</span></a></li>';
				} else {
					navBar += createNavBarItem(i == pageIndex, i);
				}
			}

			if(pageIndex < pageCount){
				navBar += createNavBarNext(pageIndex+1);
			}

			return navBar + '</ul></nav>';
		};
		
		const getPageContent = (page) => {

			$.ajax({
				type: "POST",
				url: "/ui/merge/page/" + page,
				data: JSON.stringify(activeSearch),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: (data, status) => {

					// Remove current page
					$(".added-item").remove();

					var navBar = $("#navBar");

					// Put new items
					data.page.forEach(e => {

						if(defaultShow || e.needAction){
							var keyDisplay = e.displayOnly ? e.keyValues.length + 'entrées similaires' : e.keyValue;
							var keyTitle = e.displayOnly ? 'clées : ' + e.combinedKey : 'clée : ' + e.keyValue;
							var actionDisplay = e.action === 'ADD' ? 'Ajout' : e.action === 'REMOVE' ? 'Suppression' : 'Modification';

							var actionMineDisplay = 'Absent';
							if(e.mine && e.mine.action != null){
								actionMineDisplay = e.mine && e.mine.action === 'ADD' ? 'Ajout' : e.mine && e.mine.action === 'REMOVE' ? 'Suppression' : 'Modification';
							}

							var actionTheirDisplay = 'Absent';
							if(e.their && e.their.action != null){
								actionTheirDisplay = e.their && e.their.action === 'ADD' ? 'Ajout' : e.their && e.their.action === 'REMOVE' ? 'Suppression' : 'Modification';
							}

							var butSelecClass = e.selected ? 'btn btn-primary btn-sm select-button' : 'btn btn-outline-primary btn-sm select-button';
							var butRollbackClass = e.rollbacked ? 'btn btn-danger btn-sm rollback-button' : 'btn btn-outline-danger btn-sm rollback-button';

							var payload = e.payload != null ? e.hrPayload : ' - pas de détails - ';
							var minePayload = e.mine && e.mine.payload != null ? e.mine.hrPayload : ' - pas de détails - ';
							var theirPayload = e.their && e.their.payload != null ? e.their.hrPayload : ' - pas de détails - ';

							var itemRow =
								'<tr id="' + e.indexForDiff + '_item" class="pageHolder added-item">' +
									'<td>' + e.domainName + '</td>' +
									'<td>' + e.tableName + '</td>' +
									'<td title="' + keyTitle + '">' + keyDisplay + '</td>' +
									'<td width="72%">' +
										'<span class="reducer reducer-sm reducer-open float-right" onclick="hideAndShowDisplayAction(\'' + e.indexForDiff + '_item\')">&nbsp;</span>' +
										'<span class="change-details" style="display: none;">' +
											'<span class="change-title">Modification locale</span> : ' +
											(e.mine && e.mine.action != null
												 ? '<span class="mine action-line ' + e.mine.action.toLowerCase() + '">' +
														'<span class="change-display">' +
															'<span class="action-display">' + actionMineDisplay + ' </span>' +
															'<span>' + minePayload + '</span>' +
														'</span>' +
													'</span>'
												 : '<span class="mine change-display-none">Ligne non présente dans l\'index (ligne supprimée ou non créée)</span>'
											) +
											'<span class="change-title">Modification importée</span> : ' +
											(e.their && e.their.action != null
												 ? '<span class="their change-display action-line ' + e.their.action.toLowerCase() + '">' +
														'<span class="change-display">' +
															'<span class="action-display">' + actionTheirDisplay + ' </span>' +
															'<span>' + theirPayload + '</span>' +
														'</span>' +
													'</span>'
												 : 	'<span class="their change-display-none">Non présente dans l\'import</span>'
											) +
											'<span class="change-title">Proposition</span> : ' +
										'</span>' ;

							if(e.action){
								itemRow +=
										'<span class="merged change-display action-line ' + e.action.toLowerCase() + '">' +
											'<span class="change-display">' +
												'<span class="action-display">' + actionDisplay + ' </span>' +
												'<span>' + payload + '</span>' +
											'</span>' +
										'</span>' ;
							} else {
								itemRow +=
										'<span class="merged change-display-none" >Modifications identiques, rien à changer</span>' ;
							}

							itemRow += '</td>';

							if(e.needAction && hasPreparation){
								itemRow +=
									'<td>' +
										'<div class="btn-group float-right" role="group">' +
											'<button type="button" class="' + butSelecClass + '" onclick="updateSelectItem(\'' +  e.indexForDiff + '\',true,false)">Appliquer</button>' +
											'<button type="button" class="' + butRollbackClass + '" onclick="updateSelectItem(\'' +  e.indexForDiff + '\',false,true)">Ignorer</button>' +
										'</div>' +
									'</td>' ;
							} else if(!e.needAction) {
								itemRow +=
									'<td>' +
										'<button type="button" class="btn btn-secondary-outline btn-sm select-button float-right" disabled="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Déjà en place&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>'
									'</td>' ;
							}

							itemRow += '</tr>' ;

							navBar.before(itemRow);
						 }
					});

					// Update navBar displayNavBar
					if(data.pageCount > 1){
						$("#navBarContent").html(displayNavBar(data.pageIndex, data.pageCount));
					} else {
						$("#navBarContent").html("");
					}
				}
			});
		};

		/* End pagination */

		// For remarks hidding
		const hideAndShowDiffRemarksAction = () => {
			hideDisplays();
			var area = $("#diffRemarkArea");
			var button = $("#diffRemarkAreaButton");
			if(button.attr("class").indexOf('reducer-close') !== -1){
				area.hide();
				button.removeClass("reducer-close").addClass("reducer-open");
			} else {
				area.show();
				button.removeClass("reducer-open").addClass("reducer-close");
			}
		};

		// For display detail hidding
		const hideAndShowDisplayAction = (trUuid) => {
		
			hideDisplays();
			console.info("display action " + trUuid); 
			var display = $("#" + trUuid + " span.change-details");
			var button = $("#" + trUuid + " span.reducer-sm");
			if(button.attr("class").indexOf('reducer-close') !== -1){
				display.hide();
				button.removeClass("reducer-close").addClass("reducer-open");
			} else {
				display.show();
				button.removeClass("reducer-open").addClass("reducer-close");
			}
		};

		// For "select All / rollback All / ignore All"
		const processAll = (type) => {

			var selected = type === "select";
			var rollbacked = type === "rollback";

			console.info("full " + type);

			$.post("/ui/merge/selection/all?selected="+ selected + "&rollbacked=" + rollbacked, null, (data, status) => {

				// Reset buttons
				$("button.select-button").removeClass("btn-primary").addClass("btn-outline-primary");
				$("button.rollback-button").removeClass("btn-danger").addClass("btn-outline-danger");

				if(selected){
					$("button.select-button").removeClass("btn-outline-primary").addClass("btn-primary");
				} else {
					$("button.rollback-button").removeClass("btn-outline-danger").addClass("btn-danger");
				}
			});
		};
		
    	// Init actions
    	$(document).ready(() => {
			closeFilters();
			getPageContent(0);
			$("span.change-details").hide();
			$("button.select-button").click((e) => selectAction(e.target.parentElement.parentElement.parentElement.id));
			$("button.rollback-button").click((e) => rollbackAction(e.target.parentElement.parentElement.parentElement.id));
			$("button.all-button").click((e) => processAllDiffDisplay(e.target.id));
			$("button.all-button-domain").click((e) => processAllDomain(e.target.id));
			$("#selectAllButton").click((e) => processAll('select'));
			$("#rollbackAllButton").click((e) => processAll('rollback'));
			$("#diffRemarkAreaButton").click((e) => hideAndShowDiffRemarksAction());
			$('#tableSearchField').autocomplete({
				source: associatedTables
			});
			$('.filter').click((e) => filterDisplay(e));
		}); 
		
        /*]]>*/
    </script>
</body>
</html>