<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>	
	<span layout:fragment="content">
		<form action="#" th:action="@{/ui/projects/prefered/save}" method="post">
			<h5>Choix de mes projets préférés</h5>
			<table class="table table-sm">
				<thead>
					<tr>
						<th scope="col" width="70%">Projet</th>
						<th scope="col"><span class="float-right">Préféré ?</span></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="project, stat : ${projects}" th:id="${project.uuid}" th:class="|project-theme-${project.color}|">
						<td th:text="${project.name}">Autre</td>
						<td><span class="float-right"><input type="checkbox" name="prefered" th:value="${project.uuid}" th:checked="${prefereds.contains(project)}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
					</tr>
				</tbody>
			</table>
			<button id="nextButton" type="submit" class="btn btn-success btn-sm float-right">Sauvegarder</button><br/><br/>
		</form>
	</span>
	<script layout:fragment="script" th:inline="javascript">
		$('#currentLocation').text("Projets préférés");
		$('#color-nav-3').css("font-weight", "bold");
	</script>
</body>
</html>
