<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
<span layout:fragment="content">
		<h5>Edition des projets</h5>
        <span class="help">Les projets permettent d'organiser le dictionnaire et les données en sous ensembles indépendants. Ils sont représentés par un nom unique et par une couleur, reprise dans le menu haut quand un projet est actif.</span>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col" colspan="2" width="90%">Projets</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="project : ${projects}" th:id="${project.uuid}" th:class="|project-theme-${project.color}|">
                     <td colspan="2" th:text="${project.name}" th:id="item- + ${project.uuid}">Production</td>
					<td colspan="2" th:id="${project.uuid}" th:name="${project.name}" th:title="${project.name}" class="pencil-update">
						 <i class="fas fa-pencil-alt"></i>
					 </td>
			     </tr>
			     <tr id="projectListInjectBefore">
			         <td>
						 <input type="text" id="projectName" class="form-control" placeholder="Nom" required="true" size="40"/>
						 <p id="validator-input">Attention votre nom de projet ne doit pas contenir de caractères spéciaux</p>
					 </td>
			         <td>
				         <span class="color-picker" style="margin-top: 10px">
		    				<label class="project-theme-txt-0"><input class="project-color" type="radio" name="color" value="0" checked="checked"><span>Gris</span></label>
		    				<label class="project-theme-txt-1"><input class="project-color" type="radio" name="color" value="1" ><span>Bleu</span></label>
		    				<label class="project-theme-txt-2"><input class="project-color" type="radio" name="color" value="2"><span>Vert</span></label>
		    				<label class="project-theme-txt-3"><input class="project-color" type="radio" name="color" value="3"><span>Jaune</span></label>
		    				<label class="project-theme-txt-4"><input class="project-color" type="radio" name="color" value="4"><span>Rose</span></label>
		    				<label class="project-theme-txt-5"><input class="project-color" type="radio" name="color" value="5"><span>Violet</span></label>
						</span>
					</td>
			         <td scope="col"><button type="button" id="addButton" class="btn btn-success btn-sm float-right">Ajouter</button></td>
					 <td scope="col" id="container-btn">
						 <button type="button" id="modifButton" class="btn btn-success btn-sm float-right">Modifier</button>
						 <button type="button" id="cancelButton" class="btn btn-danger btn-sm float-right">Annuler</button>
					 </td>
			     </tr>
			</tbody>
		</table>
		<div id="projectAlreadyExists" class="alert alert-danger" role="alert">
		  Ce nom de projet est déjà utilisé.
		</div>
    </span>
<script layout:fragment="script">
		$('#modifButton').hide();
		$('#cancelButton').hide();
		$('#cross-modif').hide();
		$('.color-picker').hide();
		$('#color-nav-3').css("font-weight", "bold");
		$('#collapseExample3').css("display", "block");
		$('#li-11').css("font-weight", "bolder");
    	$("#projectAlreadyExists").css({"display":"none"});
    	$(".pencil-update i").css({"display":"flex", "justify-content": "flex-end"});
    	$("#validator-input").hide();

		const getPickedColor = () => {
			return $(".project-color:checked").val();
		};

		// Add row button
		const addButtonAction = () => {
			hideDisplays();
			var inputName = $("#projectName");
			var name = inputName.val();
			if(name == null || name === ''){
				setInvalid("#projectName","Le nom du projet est obligatoire");
			}
			var color = getPickedColor();
			$.post("/ui/projects/add/" + inputName.val() + "/" + color, null, (data, status) => {
				showSuccess("Projet créé avec succès");
				var newProjectRow = '<tr id="' + data.uuid + '" class="project-theme-bg-' + data.color + '"><td colspan="2">' + data.name + '</td><td>&nbsp;</td></tr>';
				$("#projectListInjectBefore").before(newProjectRow);
				inputName.val("");
				$("#projectAlreadyExists").css({"display":"none"});


		    })
		    .fail(function() {
		    	console.log("error");
				$("#projectAlreadyExists").css({"display":"block"});
			});
		};

		let uuid;
		let oldName;

		const modifButtonAction = () => {
			var inputName = $("#projectName");
			let newName = inputName.val();

			$.post("/ui/projects/modif/" + newName + "/" + uuid + "/"+ oldName, null, (data, status) => {
				inputName.val("");
				showSuccess("Le nom du projet a été modifié avec succès.");
				$("#projectAlreadyExists").hide();
				window.location.replace("/ui/projects");
		    })
		    .fail(function() {
		    	console.log("error");
		    	$("#projectAlreadyExists").css({"display":"block"});
			});

		}

		const displayModifNameProject = (name, id) => {
			uuid = id;
			oldName = name;

			$('#projectName').val(name)
			$('#addButton').hide();
			$('.color-picker').hide();
			$('#cancelButton').show();
			$('#modifButton').show();
			$('#cross-modif').show();
			$(".pencil-update i").css({"display":"none"});
			$("td#"+id+".pencil-update").css({"pointer-events":"none"});
		}

		const closeModifNameProject = () => {
			let shouldCloseModif = false;

			if (!shouldCloseModif) {
				$('#modifButton').hide();
				$('#cross-modif').hide();
				$('#addButton').show();
				$('#cancelButton').hide();
				shouldCloseModif = true;
				$(".pencil-update i").css({"display":"flex", "justify-content": "flex-end"});
			} else {
				$('#modifButton').show();
				$('#cancelButton').show();
				$('#cross-modif').hide();
				$(".pencil-update i").css({"display":"none"});
			}

		}

		var regex = /[ `!@#ç§$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/

		const checkCharacters = e => {
		    var inputValue = e.target.value;
		    if (e.target.id === "projectName") {
				if(regex.test(inputValue)) {
					$("#validator-input").show();
					$("#addButton").hide();
					$("#modifButton").hide();
				} else {
					$("#validator-input").hide();
					$("#input-empty").hide();
					$("#addButton").show();
				}
		    }
		}

    	// Init actions
    	$(document).ready(() => {
			$("#addButton").click(addButtonAction);
			$("#modifButton").click(modifButtonAction);
			$('#cancelButton').click(() => closeModifNameProject());
			$(".pencil-update").click((e) => displayModifNameProject(e.target.parentElement.id));
			$("#projectName").keyup(e => checkCharacters(e));
		});
    </script>
</body>
</html>