<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Edition des projets</h5>
        <span class="help">Les projets permettent d'organiser le dictionnaire et les données en sous ensembles indépendants. Ils sont représentés par un nom unique et par une couleur, reprise dans le menu haut quand un projet est actif.</span>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col" colspan="2" width="90%">Projets</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="project : ${projects}" th:id="${project.uuid}" th:class="|project-theme-${project.color}|">
                     <td colspan="2" th:text="${project.name}">Production</td>
                     <td>&nbsp;</td>
			     </tr>
			     <tr id="projectListInjectBefore">
			         <td><input type="text" id="projectName" class="form-control" placeholder="Nom" required="true" size="40"/></td>
			         <td>
				         <span class="color-picker" style="margin-top: 10px">
		    				<label class="project-theme-txt-0"><input class="project-color" type="radio" name="color" value="0" checked="checked"><span>Gris</span></label>
		    				<label class="project-theme-txt-1"><input class="project-color" type="radio" name="color" value="1" ><span>Bleu</span></label>
		    				<label class="project-theme-txt-2"><input class="project-color" type="radio" name="color" value="2"><span>Vert</span></label>
		    				<label class="project-theme-txt-3"><input class="project-color" type="radio" name="color" value="3"><span>Jaune</span></label>
		    				<label class="project-theme-txt-4"><input class="project-color" type="radio" name="color" value="4"><span>Rose</span></label>
		    				<label class="project-theme-txt-5"><input class="project-color" type="radio" name="color" value="5"><span>Violet</span></label>
						</span>
					</td>
			         <td scope="col"><button type="button" id="addButton" class="btn btn-success btn-sm float-right">Ajouter</button></td>
			     </tr>
			</tbody>
		</table>
		<div id="projectAlreadyExists" class="alert alert-danger" role="alert">
		  Ce nom de projet est déjà utilisé.
		</div>
    </span>
    <script layout:fragment="script">

    	$("#projectAlreadyExists").hide();

		const getPickedColor = () => {
			return $(".project-color:checked").val();
		};

		// Add row button
		const addButtonAction = () => {
			hideDisplays();
			var inputName = $("#projectName");
			var name = inputName.val();
			if(name == null || name === ''){
				setInvalid("#projectName","Le nom du projet est obligatoire");
			}
			var color = getPickedColor();
			$.post("/ui/projects/add/" + inputName.val() + "/" + color, null, (data, status) => {
				showSuccess("Projet créé avec succès");
				var newProjectRow = '<tr id="' + data.uuid + '" class="project-theme-bg-' + data.color + '"><td colspan="2">' + data.name + '</td><td>&nbsp;</td></tr>';
				$("#projectListInjectBefore").before(newProjectRow);
				inputName.val("");
				$("#projectAlreadyExists").hide();

		    })
		    .fail(function() {
		    	console.log("error");
				$("#projectAlreadyExists").show();
			});
		};
    
    	// Init actions
    	$(document).ready(() => {
			$("#addButton").click(addButtonAction);
		}); 
    </script>
</body>
</html>