<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Export de lots de modifications pour le projet <span th:class="|project-theme-txt-${project.color}|" th:text="${project.name}">project</span>,
			pour la version <span class="version-name" th:text="${version.name}"></span></h5>
		<span class="help">L'export complet se fait à partir du 1er lot selectionné. Les exports de lots ne comportent que les données du projet courant.</span>
        <div th:if="${checkVersion}" class="alert alert-danger">
        	Attention, l'export va être associé à la dernière version identifiée <span th:text="${version.name}">1.2.4</span>, or des mises à jour ont été apportées
        	au dictionnaire après la création de cette version. 
	        L'import pourra être en erreur si la version du dictionnaire cible n'intègre pas ces changements.
	        Merci de vérifier qu'un import / export de dictionnaire n'est pas nécessaire en même temps.
	    </div>
		<a hidden="true" id="exportAllSrcLink" th:href="@{/ui/push/all/{name}.par(name=${custom.exportName('commits', modelDesc.schema, 'all')})}">&nbsp;</a>
		<table class="table table-sm">
			<thead>
				<tr>
		            <th scope="col">Lots de modifications</th>
		            <th scope="col">Domains couverts</th>
					<th scope="col">Version</th>
		            <th scope="col">Créé par</th>
		            <th scope="col">Le</th>
		            <th scope="col" width="15%"><a href="#" id="exportAll" th:href="@{/ui/push/all/{name}.par(name=${custom.exportName('commits', modelDesc.schema, 'all')})}" class="btn btn-success btn-sm float-right">Exporter tous les lots</a></th>
				</tr>
			</thead>

			<tbody>
				<tr th:if="${commits.empty}">
					<td colspan="100%" class="empty-list-message">Aucun lot existant</td>
				</tr>
				<tr th:each="commit, cstat : ${commits}" th:id="${commit.uuid}">
					<td th:utext="${custom.processGitmoji(commit.comment)}">Préchargement configuration</td>
		            <td th:text="${commit.domainNames}">Fonct domains</td>
					<td th:text="${commit.versionName}">Version</td>
		            <td th:text="${commit.originalUserEmail}">System</td>
		            <td th:text="${custom.format(commit.createdTime)}">01/11/2017</td>
					<td>
						<div class="float-right">
							<div th:id="|selecterFor${commit.uuid}|" class="selecter selected" title="Activer l'export complet à partir de ce lot">&nbsp;</div>&nbsp;&nbsp;
							<a href="#" th:href="@{/ui/push/{id}/{name}.par(id=${commit.uuid}, name=${custom.exportName('commits', modelDesc.schema, 'single', commit.uuid)})}" class="btn btn-primary btn-sm">Exporter seul</a>
							<a hidden="true" th:id="|exportUntilSrcLink${commit.uuid}|" th:href="@{/ui/push/until-{id}/{name}.par(id=${commit.uuid},name=${custom.exportName('commits', modelDesc.schema, 'until', commit.uuid)})}">&nbsp;</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" id="endSelect" value=""/>
	</span>
	<script layout:fragment="script">
		 /*<![CDATA[*/
		
        // When selecting
        const selectAction = (item) => {
			hideDisplays();
        	var selectValue = $("#endSelect");
			if(selectValue.val() !== item){
        		var selectId = 'selecterFor' + item;
        		var selects = $("div.selecter");
       			var i = selects.length;
       			selects.each((idx,e) => {
					console.log(idx + "|" + i + "-" + e.id + " " + e.className);
       				e.className = "selecter unselected" ;

       				if(e.id === selectId){
       					selectValue.val(item);
       					i = idx;
       				}
       				
       				if(idx >= i){
       					e.className = "selecter selected" ;
       				}
       			});
       			var exportAllB = $("#exportAll");
       			if(i === 0){
       				var link = $('#exportAllSrcLink').prop('href');
       				console.log("link : " + link);
       				exportAllB.text("Exporter tous les lots");
					exportAllB.removeClass("btn-primary").addClass("btn-success");
					exportAllB.prop('href',link);
       			}else{
       				var link = $('#exportUntilSrcLink' + item).prop('href');
       				console.log("link : " + link);
       				exportAllB.text("Exporter à partir du lot");
					exportAllB.removeClass("btn-success").addClass("btn-primary");
					exportAllB.prop('href',link);
       			}
			}
        };
        
        // Init actions
    	$(document).ready(() => {
			$("div.selecter").click((e) => selectAction(e.target.parentElement.parentElement.parentElement.id));

			// This page support gitmojis
			supportGitmojis();
		}); 
        
        /*]]>*/
	</script>
</body>
</html>