<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
	<span layout:fragment="content">
		<div id="modal" th:insert="~{components/modal-prepare :: modal-prepare}"></div>
		<span th:if="${preparation.status.name()}=='FAILED'">
			<div class="alert alert-danger">
				<h4>La preparation du revert du lot de modification a rencontré une erreur</h4>
				<div th:replace="layouts/commons::error-display (${preparation.errorDuringPreparation.error},${preparation.errorDuringPreparation.payload})">...</div>
				<span class="remark">
					La préparation implique une extraction de toutes les données des tables identifiées comme du paramétrage dans le dictionnaire.
					En cas de soucis sur ces données, le processus peut ne pas aboutir.
					Si nécessaire, merci de communiquer le code d'erreur suivant : <span th:text="|${preparation.errorDuringPreparation.error}-${preparation.errorDuringPreparation.timestamp}|">JSON_WRITE_ERROR-12414421224112</span>
				</span>
			</div>
			<a href="index.html" class="btn btn-secondary btn-sm" th:href="@{/ui/}">Revenir à la page d'accueil</a>
			<a th:href="@{/ui/revert/restart}" href="#" class="btn btn-primary btn-sm">Recommencer</a>
			<a href="#" th:href="@{/ui/prepare/cancel}" class="btn btn-dark btn-sm">Annuler la préparation</a>
		</span>
		<form th:if="${preparation.status.name()}!='FAILED'" action="/commit.html" th:action="@{/ui/prepare/commit}" method="post">
			<div id="prepare-header">
				<h5>Ensemble des modifications identifiées</h5>
					<div class="float-right">
						<div class="btn-group" role="group">
							<button type="button" id="selectAllButton" class="btn btn-primary">Tout garder</button>
							<button type="button" id="ignoreAllButton"  class="btn btn-secondary">Tout ignorer</button>
						</div>&nbsp;
					</div>
					<div class="btn-right">
						<a th:href="@{/ui/revert/cancel}" href="#" class="btn btn-light">Abandonner</a>
						<a th:href="@{/ui/revert/restart}" href="#" class="btn btn-dark" type="button">Regénérer</a>
					</div>
			</div>
			<div id="keep-filtered-ligne" style="padding-right:10px; display:None;">
				<div id="keep-buttons" class="btn-group" role="group">
					<button type="button" id="selectFilteredButton" class="btn btn-outline-info">Garder les lignes filtrées</button>
					<button type="button" id="ignoreFilteredButton"  class="btn btn-outline-warning">Ignorer les lignes filtrées</button>
				</div>&nbsp;
			</div>
			<div th:if="${not preparation.emptyDiff}" id="prepare-filter">
				<div>
						<table class="table table-sm">
							<thead>
								<span id="navigation-filter">
									<div id="navigation-domain" class="filter filter-domain">
										<div class="container-is-used">
											<p id="title-domain" onclick="showCardFilter('domain')">Domaine</p>
											<i class="far fa-check-square" id="filter-used-domain"></i>
										</div>
										<div class="card" id="card-domain" style="width: 170px;">
										  <ul class="list-group list-group-flush">
											<li class="list-group-item">
												<select id="domainSearchField" class="form-control form-control-sm float-left" name="domainSearch" style="margin-right:10px">
													<option value="" label="Tous les domaines"/>
													<option th:each="domain, dstat : ${preparation.referencedDomainNames}" th:value="${domain}" th:label="${domain}"/>
												</select>
											</li>
											  <li>
												  <p id="filter-menu-click" onclick="enableFilter('domain')">Filtrer</p>
											  </li>
											  <li>
												  <p id="filter-menu-delete" onclick="disableFilter('domain')">Supprimer le filtre</p>
											  </li>
											  <li class="list-group-item" id="domain-asc" onclick="sortAsc('domain')"><i class="fas fa-sort-alpha-up-alt"></i></li>
											  <li class="list-group-item" id="domain-desc" onclick="sortDesc('domain')"><i class="fas fa-sort-alpha-down-alt"></i></li>
										  </ul>
										</div>
									</div>
									<div id="navigation-table" class="filter filter-table">
										<div class="container-is-used">
											<p id="title-table" onclick="showCardFilter('table')">Table</p>
											<i class="far fa-check-square" id="filter-used-table"></i>
										</div>
										<div class="card" id="card-table" style="width: 170px;">
										  <ul class="list-group list-group-flush">
											<li class="list-group-item">
												<input id="tableSearchField" type="text" class="form-control form-control-sm float-left" style="margin-right:10px" name="tableSearch" size="150" placeholder="Table"/>
											</li>
											  <li>
												  <p id="filter-menu-click" onclick="enableFilter('table')">Filtrer</p>
											  </li>
											  <li>
												  <p id="filter-menu-delete" onclick="disableFilter('table')">Supprimer le filtre</p>
											  </li>
											  <li class="list-group-item" id="table-asc" onclick="sortAsc('table')"><i class="fas fa-sort-alpha-up-alt"></i></li>
											  <li class="list-group-item" id="table-desc" onclick="sortDesc('table')"><i class="fas fa-sort-alpha-down-alt"></i></li>

										  </ul>
										</div>
									</div>
									<div id="navigation-key" class="filter filter-key">
										<div class="container-is-used">
											<p id="title-key" onclick="showCardFilter('key')">Clé</p>
											<i class="far fa-check-square" id="filter-used-key"></i>
										</div>
										<div class="card" id="card-key" style="width: 170px;">
										  <ul class="list-group list-group-flush">
											<li class="list-group-item">
												<input id="keySearchField" type="text" class="form-control form-control-sm float-left" name="keySearch" style="margin-right:10px" size="50" placeholder="Clé" />
											</li>
											  <li>
												  <p id="filter-menu-click" onclick="enableFilter('key')">Filtrer</p>
											  </li>
											  <li>
												  <p id="filter-menu-delete" onclick="disableFilter('key')">Supprimer le filtre</p>
											  </li>
											<li class="list-group-item" id="key-asc" onclick="sortAsc('key')"><i class="fas fa-sort-alpha-up-alt"></i></li>
											  <li class="list-group-item" id="key-desc" onclick="sortDesc('key')"><i class="fas fa-sort-alpha-down-alt"></i></li>
										  </ul>
										</div>
									</div>
									<div id="navigation-type" class="filter filter-type">
										<div class="container-is-used">
											<p id="title-type" onclick="showCardFilter('type')">Type</p>
											<i class="far fa-check-square" id="filter-used-type"></i>
										</div>
										<div class="card" id="card-type" style="width: 170px;">
										  <ul class="list-group list-group-flush">
											<li class="list-group-item">
												<select id="typeSearchField" class="form-control form-control-sm float-left" name="typeSearch" style="margin-right:10px">
													<option value="" label="Tous les types de modifications"/>
													<option value="ADD" label="Ajout"/>
													<option value="REMOVE" label="Suppression"/>
													<option value="UPDATE" label="Mise à jour"/>
												</select>
											</li>
											  <li>
												  <p id="filter-menu-click" onclick="enableFilter('type')">Filtrer</p>
											  </li>
											  <li>
												  <p id="filter-menu-delete" onclick="disableFilter('type')">Supprimer le filtre</p>
											  </li>
											  <li class="list-group-item" id="type-asc" onclick="sortAsc('type')"><i class="fas fa-sort-alpha-up-alt"></i></li>
											  <li class="list-group-item" id="type-desc" onclick="sortDesc('type')"><i class="fas fa-sort-alpha-down-alt"></i></li>
										  </ul>
										</div>
									</div>
									<div id="navigation-modif"><p>Modification</p></div>
									<div id="navigation-list-table" style="margin-right: 0px; display: flex; flex-direction: column;">
										<div class="container-is-used">
											<button type="button" class="btn btn-warning" style="min-width: 100% !important;" id="btn-list-table" onclick="showListTable()">Tables modifiées</button>
										</div>
									</div>
								</span>
							</thead>
						</table>
						<div id="navBar">
							<div id="navBarContent"></div>
						</div>
						<p>
							<div id="btn-confirm">
								<input type="submit" class="btn btn-sm" value="Confirmer les opérations"/><br/><br/>
							</div>
						</p>
					</div>
				</div>
			<div th:if="${preparation.emptyDiff}">
				<p>
					<h5>Aucun contenu à revert identifié dans les données de paramètrage.
						<div class="float-right">
							<a th:href="@{/ui/revert/cancel}" href="#" class="btn btn-secondary btn-sm">Abandonner</a>
							<a th:href="@{/ui/revert/restart}" href="#" class="btn btn-dark btn-sm">Rafraichir les modifications</a>
						</div>
					</h5>
				</p>
				<div class="alert alert-secondary" role="alert">
					<strong>La recherche de revert n'a identifié aucune nouvelle données de paramètrage</strong>. Le traitement s'appuie sur les tables de paramètrage
					identifiées dans le dictionnaire, et recherche pour chacune les données actuellement présentes. Il compart ensuite le résultat avec les données déjà
					stockées dans l'ensemble des lots de modifications présents, et recherche si des différences sont présentes. Il n'y a donc actuellement aucune différence
					identifiée : toutes les données de paramètrage ont été déjà validées dans des lots de modification.
				</div>
				<p>&nbsp;<br/><br/><br/><br/></p>
			</div>
		</form>
	</span>
    <script layout:fragment="script" th:inline="javascript">
		/*<![CDATA[*/

		$('#color-nav-2').css("font-weight", "bold");
		$("#filter-used-domain").hide();
		$("#filter-used-table").hide();
		$("#filter-used-key").hide();
		$("#filter-used-type").hide();

		$('#collapseExample2').css("display", "block");
		$('#li-6').css("font-weight", "bolder");

		// Full search
		var activeSearch = {
			filters: {
				domain:"",
				table:"",
				key:"",
				type:""
			},
			sorts: {
				domain:"",
				table:"",
				key:"",
				type:""
			}
		};

		var associatedTables = /*[[${preparation.referencedTableNames}]]*/ [] ;

		if(associatedTables.length) {
			for(let i = 0; i < associatedTables.length; i++) {
				$("#list-table ul").append('<li>' + associatedTables[i] + '</li>')
			}
		}

		const updateFilterSelectButtonGroup = () => {
			if(Object.values(activeSearch.filters).every(i => i === "")){
				$("#keep-filtered-ligne").hide();
			} else {
				$("#keep-filtered-ligne").show();
			}
		}

		$('#card-domain').hide();
		$('#card-table').hide();
		$('#card-key').hide();
		$('#card-type').hide();
		$('#modal-prepare').hide();

		let domainIsOpen = false;
		let keyIsOpen = false;
		let typeIsOpen = false;
		let tableIsOpen = false;
		let listTableIsOpen = false;

		const showCardFilter = (name) => {
			let item = name;

			if (item === 'domain') {
				if (!domainIsOpen) {
					$('#card-domain').show();
					domainIsOpen = true;
				}
			}

			else if (item === 'table') {
				if (!tableIsOpen) {
					$('#card-table').show();
					tableIsOpen = true;
				}
			}

			else if (item === 'key') {
				if (!keyIsOpen) {
					$('#card-key').show();
					keyIsOpen = true;
				}
			}

			else if (item === 'type'){
				if (!typeIsOpen) {
					$('#card-type').show();
					typeIsOpen = true;
				}
			}

		}

		const closeCardFilter = (e) => {

		const $cardDomain = $("#card-domain");
		const $cardTable = $("#card-table");
		const $cardList = "ui-menu-item"
		const $cardKey = $("#card-key");
		const $cardType = $("#card-type");
		const $listTable = $("#btn-list-table");

			if (!$cardDomain.is(e.target) && $cardDomain.has(e.target).length === 0) {
				$('#card-domain').hide();
				domainIsOpen = false;
			}

			if (!$cardTable.is(e.target) && $cardTable.has(e.target).length === 0) {
				let getIdItem = e.target.id
				if(!getIdItem.includes('ui-id-')) { //prevent auto-close, if it is an item from list the modal should display filter
					$('#card-table').hide();
					tableIsOpen = false;
				}
			}

			if(!$cardKey.is(e.target) && $cardKey.has(e.target).length === 0) {
				$('#card-key').hide();
				keyIsOpen = false;
			}

			if (!$cardType.is(e.target) && $cardType.has(e.target).length === 0) {
				$('#card-type').hide();
				typeIsOpen = false;
			}

		}

		const showListTable = () => {
			if (!listTableIsOpen) {
				$('#modal-prepare').show();
				listTableIsOpen = true;
			} else {
				$('#modal-prepare').hide();
				listTableIsOpen = false;
			}
		}

		const filterDisplay = (head) => {
			console.log(head.target.className)
			var name = head.target.className.split(' ')[1].substr(7);
			$("#" + name + "SearchBar").show();
		}

		const enableFilter = (name) => {
			console.info('enableFilter ' + name);
			$("#" + name + "FilterButton").prop('disabled', false);
			$("#" + name + "ResetButton").prop('disabled', false);
			$(".filter-" + name).addClass("filtered");
			$("#filter-used-" + name).show();
			var filter = $("#" + name + "SearchField").val();
			activeSearch.filters[name] = filter;
			updateFilterSelectButtonGroup();
			getPageContent(0);
			$("#card-" + name).hide();
		}

		const disableFilter = (name) => {
			console.info('disableFilter ' + name);
			$("#" + name + "FilterButton").prop('disabled', false);
			$("#" + name + "ResetButton").prop('disabled', true);
			$(".filter-" + name).removeClass("filtered");
			$("#" + name + "SearchField").val("");
			$("#filter-used-" + name).hide();
			activeSearch.filters[name] = "";
			updateFilterSelectButtonGroup();
			getPageContent(0);
			$("#card-" + name).hide();
		}


		const sortAsc = (name) => {
			console.info('sortAsc ' + name);
			$("#" + name + "SortAscButton").prop('disabled', true);
			$("#" + name + "SortDescButton").prop('disabled', false);
			$("#" + name + "SortResetButton").prop('disabled', false);
			$(".filter-" + name).removeClass('sorted-desc').addClass('sorted-asc');
			activeSearch.sorts[name] = "ASC";
			getPageContent(0);
			$("#card-" + name).hide();
		}

		const sortDesc = (name) => {
			console.info('sortDesc ' + name);
			$("#" + name + "SortAscButton").prop('disabled', false);
			$("#" + name + "SortDescButton").prop('disabled', true);
			$("#" + name + "SortResetButton").prop('disabled', false);
			$(".filter-" + name).removeClass('sorted-asc').addClass('sorted-desc');
			activeSearch.sorts[name] = "DESC";
			getPageContent(0);
			$("#card-" + name).hide();
		}

		const updateSelectItem = (index, selected, rollbacked) => {

			$.post("/ui/revert/selection/line/" + index + "?selected="+ selected + "&rollbacked=" + rollbacked, null, (data, status) => {

				// Reset 3 buttons
				$("#" + index + "_item button.select-button").removeClass("btn-primary").addClass("btn-outline-primary");
				$("#" + index + "_item button.ignore-button").removeClass("btn-secondary").addClass("btn-outline-secondary");

				// Apply selected button
				if(selected){
					$("#" + index + "_item button.select-button").removeClass("btn-outline-primary").addClass("btn-primary");
				} else {
					$("#" + index + "_item button.ignore-button").removeClass("btn-outline-secondary").addClass("btn-secondary");
				}
			});
		};

		/* For pagination */
		const createNavBarItem = (active, num) => {
			return '<li class="page-item' + (active ? ' active' : '') + '"><a class="page-link" style='+ (active ? 'color:#ffffff' : 'color:#007bff') + ' onclick="getPageContent(' + num + ')">' + (num + 1) + '</a></li>';
		};

		const createNavBarPrevious = (num) => {
			return '<li class="page-item"><a class="page-link" style=color:#007bff onclick="getPageContent(' + num + ')">Précédent</a></li>';
		};

		const createNavBarNext = (num) => {
			return '<li class="page-item"><a class="page-link" style=color:#007bff onclick="getPageContent(' + num + ')">Suivant</a></li>';
		};

		const displayNavBar = (pageIndex, pageCount) => {

			var navBar = '<nav aria-label="navbar"><ul class="pagination">';

			var splitOneStart = -1;
			var splitOneEnd = -1;
			var splitTwoStart = -1 ;
			var splitTwoEnd = -1 ;

			// Intermediate "split" in navBar depending on current pos and size
			if (pageCount >= 8) {

				// Current at the beginning : 1 spacer
				if (pageIndex < 4) {
					splitOneStart = 4;
					splitOneEnd = pageCount - 3;
				}

				// Current at the end : 1 spacer
				else if (pageIndex > pageCount - 5) {
					splitOneStart = 2;
					splitOneEnd = pageCount - 5;
				}

				// Current elsewhere : 2 spacers around
				else {
					splitOneStart = 2;
					splitOneEnd = pageIndex - 2;
					splitTwoStart = pageIndex + 2;
					splitTwoEnd = pageCount - 3;
				}
			}

			if(pageIndex > 0){
				navBar += createNavBarPrevious(pageIndex-1);
			}

			for(i = 0; i < pageCount; i++) {
				// First optional split
				if(i >= splitOneStart && i < splitOneEnd){
					i = splitOneEnd;
					navBar += '<li class="page-item disabled"><a class="page-link" href=""><span>...</span></a></li>';
				} else if(i >= splitTwoStart && i < splitTwoEnd){
					i = splitTwoEnd;
					navBar += '<li class="page-item disabled"><a class="page-link" href=""><span>...</span></a></li>';
				} else {
					navBar += createNavBarItem(i == pageIndex, i);
				}
			}

			if(pageIndex < pageCount){
				navBar += createNavBarNext(pageIndex+1);
			}

			return navBar + '</ul></nav>';
		};

		const getPageContent = (page) => {
			$.ajax({
				type: "POST",
				url: "/ui/revert/page/" + page,
				data: JSON.stringify(activeSearch),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: (data, status) => {

					// Remove current page
					$(".added-item").remove();

					var navBar = $("#navBar");

					// Put new items
					data.page.forEach(e => {

						var keyDisplay = e.displayOnly ? e.keyValues.length + 'entrées similaires' : e.keyValue;
						var keyTitle = e.displayOnly ? 'clées : ' + e.combinedKey : 'clée : ' + e.keyValue;
						var actionDisplay = e.action === 'ADD' ? 'Ajout' : e.action === 'REMOVE' ? 'Suppression' : 'Modification';

						var butSelecClass = e.selected ? 'btn btn-primary btn-sm select-button' : 'btn btn-outline-primary btn-sm select-button';
						var butIgnoreClass = !(e.selected || e.rollbacked) ? 'btn btn-secondary btn-sm ignore-button' : 'btn btn-outline-secondary btn-sm ignore-button';

						var hrPayload = e.hrPayload ? e.hrPayload : " - Vide - ";

						var itemRow =
							'<div title="cell" id="' + e.indexForDiff + '_item" class="action-line ' + e.action.toLowerCase() + ' added-item">' +
								'<div id="domain-name">'+ e.domainName + '</div>'+
								'<div id="table-name">'+ e.tableName + '</div>'+
								'<div id="key-name" title="' + keyTitle + '">'+ keyDisplay + '</div>'+
								'<div id="action-name" class="action-display">'+ actionDisplay + '</div>'+
								'<div id="payload-name">' +
								'<span class="change-display" title="payload technique=' + e.payload + '">' + hrPayload +
								'</span></div>' +
								'<div id="btns-groupe">' +
									'<button type="button" class="' + butSelecClass + '" onclick="updateSelectItem(\'' +  e.indexForDiff + '\',true,false)"><i class="fas fa-check"></i></button>' +
									'<button type="button" class="' + butIgnoreClass + '" onclick="updateSelectItem(\'' +  e.indexForDiff + '\',false,false)"><i class="fas fa-minus-circle"></i></button>' +
								'</div>'
							+'</div>';

						navBar.before(itemRow);
					});

					// Update navBar displayNavBar
					if(data.pageCount > 1){
						$("#navBarContent").html(displayNavBar(data.pageIndex, data.pageCount));
					} else {
						$("#navBarContent").html("");
					}
				}
			});
		};

		/* End pagination */

		// Update item buttons selection (on all buttons)
		const updateDisplayedButtons = (selected, rollbacked) => {
			// Reset buttons
			$("button.select-button").removeClass("btn-primary").addClass("btn-outline-primary");
			$("button.ignore-button").removeClass("btn-secondary").addClass("btn-outline-secondary");

			if(selected){
				$("button.select-button").removeClass("btn-outline-primary").addClass("btn-primary");
			} else {
				$("button.ignore-button").removeClass("btn-outline-secondary").addClass("btn-secondary");
			}
		}

		// For remarks hidding
		const hideAndShowDiffRemarksAction = () => {
			hideDisplays();
			var area = $("#diffRemarkArea");
			var button = $("#diffRemarkAreaButton");
			if(button.attr("class").indexOf('reducer-close') !== -1){
				area.hide();
				button.removeClass("reducer-close").addClass("reducer-open");
			} else {
				area.show();
				button.removeClass("reducer-open").addClass("reducer-close");
			}
		};

		// For "select filtered / rollback filtered / ignore filtered"
		const processFiltered = (type) => {

			var selected = type === "select";
			var rollbacked = type === "rollback";

			console.info("filtered " + type);

			$.ajax({
				type: "POST",
				url: "/ui/revert/selection/filtered?selected="+ selected + "&rollbacked=" + rollbacked,
				data: JSON.stringify(activeSearch),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				complete: (data, status) => {
					updateDisplayedButtons(selected, rollbacked);
				}
			});
		};

		// For "select All / rollback All / ignore All"
		const processAll = (type) => {

			var selected = type === "select";
			var rollbacked = type === "rollback";

			console.info("full " + type);

			$.post("/ui/revert/selection/all?selected="+ selected + "&rollbacked=" + rollbacked, null, (data, status) => {
				updateDisplayedButtons(selected, rollbacked);
			});
		};

    	// Init actions
    	$(document).ready(() => {
			updateFilterSelectButtonGroup();
			getPageContent(0);
			$("#selectAllButton").click((e) => processAll('select'));
			$("#ignoreAllButton").click((e) => processAll('ignore'));
			$("#selectFilteredButton").click((e) => processFiltered('select'));
			$("#ignoreFilteredButton").click((e) => processFiltered('ignore'));
			$("#diffRemarkAreaButton").click((e) => hideAndShowDiffRemarksAction());
			$('#tableSearchField').autocomplete({
				source: associatedTables
			});
			$('.filter').click((e) => filterDisplay(e));
			$(document).mouseup((e) => closeCardFilter(e));
		});

        /*]]>*/
    </script>
</body>
</html>