<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
	<span layout:fragment="content">
    	<form id="editForm" action="#" th:action="@{/ui/transformers/save}" method="post">
        	<p>
	        	<h5>Edition d'un transformateur - Type <span th:text="${def.typeName}">type</span></h5>

				<div class="form-group">
					<label for="name">Nom de la transformation</label>
					<input type="text" id="name" class="form-control" th:field="${def.name}" size="50"/>
					<small class="form-text text-muted">Champ obligatoire</small>
					<input type="hidden" th:field="${def.uuid}" />
					<input type="hidden" id="type" th:field="${def.type}" />
				</div>

				<div class="form-group">
					<label for="name">Priorité</label>
					<input id="priority" type="text" class="form-control" th:field="${def.priority}" size="5"/>
					<small class="form-text text-muted">Champ obligatoire. Les priorités les plus élevées sont traitées en 1er.</small>
				</div>

				<div class="form-group" th:if="${def.packageComment != null}">
					<label><strong>paramétrage embarqué du transformateur</strong></label>
					<div th:text="${def.packageComment}">Des options existent</div>
				</div>

				<div class="form-group">
					<span>
						<label><strong>Configuration (json)</strong></label>
						<div class="btn-group float-right" style="margin-bottom: 8px" role="group">
							<button type="button" class="check-button btn btn-outline-primary btn-sm" id="checkButton" >Vérifier</button>
							<button type="button" class="hide-button btn btn-outline-secondary btn-sm" id="resetButton" title="Revenir à la configuration par défaut du transformateur">Restaurer</button>
						</div>&nbsp;
					</span>
					<textarea id="configuration" class="form-control configuration" th:field="${def.configuration}" rows="25"></textarea>
					<small class="form-text text-muted">Champ obligatoire. Le format est propre au type <span th:text="${def.typeName}">type</span></small>
				</div>

				<div class="form-group">
					<span class="float-right">
						<a class="btn btn-secondary btn-sm" th:href="@{/ui/transformers}" href="prepare.html">Revenir en arrière</a>
						<input type="button" id="saveButton" class="btn btn-success btn-sm" title="Le commentaire est obligatoire" value="Sauvegarder"/><br/><br/>
					</span>
				</div>
            </p>

		</form>

	</span>
	<script layout:fragment="script">
		/*<![CDATA[*/

		const checkConfigurationContent = () => {
			hideDisplays();
			var config = $('#configuration').val();
			if(config != ''){
				var type = $('#type').val();
				$.post('/ui/transformers/validate/' + encodeURIComponent(type), config, (data, status) => {
					if(data && data != ''){
						showError('Erreur dans la configuration :' + data);
					} else {
						showSuccess('Aucune erreur identifiée pour cette configuration');
					}
				});
			} else {
				showError('La configuration est obligatoire');
				$('#saveButton').prop('disabled', true);
				$('#saveButton').removeClass('btn-success').addClass('btn-outline-success');
			}
		};

		const resetConfigurationContent = () => {
			hideDisplays();
			var type = $('#type').val();
			$.get('/ui/transformers/reset/' + encodeURIComponent(type), (data, status) => {
				if(data && data != ''){
					$('#configuration').val(data);
				} else {
					showSuccess('Aucune erreur identifiée pour cette configuration');
				}
			});
		};

		const checkMandatoryFields = () => {
			hideDisplays();
    		var config = $('#configuration').val();
    		var name = $('#name').val();
    		var priority = $('#priority').val();
    		if(config != '' && name != '' && priority != ''){
    			$('#saveButton').prop('disabled', false);
				$('#saveButton').removeClass('btn-outline-success').addClass('btn-success');
    		} else {
    			$('#saveButton').prop('disabled', true);
				$('#saveButton').removeClass('btn-success').addClass('btn-outline-success');
    		}
		};

    	const checkConfigurationContentAndSave = () => {
    		var config = $('#configuration').val();
    		if(config != ''){
    			var type = $('#type').val();
    			$.post('/ui/transformers/validate/' + encodeURIComponent(type), config, (data, status) => {
    				if(data && data != ''){
    					showError('Erreur dans la configuration :' + data);
    				} else {
    					$('#editForm').submit();
    				}
    			});
    		} else {
    			showError('La configuration est obligatoire');
	    		$('#saveButton').prop('disabled', true);
				$('#saveButton').removeClass('btn-success').addClass('btn-outline-success');
	    	}
    	};

    	// Init actions
    	$(document).ready(() => {
			$("#configuration").on('input',checkMandatoryFields);
			$("#name").on('input',checkMandatoryFields);
			$("#priority").on('input',checkMandatoryFields);
			checkMandatoryFields();
			$("#saveButton").click(checkConfigurationContentAndSave);
			$("#checkButton").click(checkConfigurationContent);
			$("#resetButton").click(resetConfigurationContent);
		});
    </script>
</body>
</html>