<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>	
	<span layout:fragment="content">
		<form action="#" th:action="@{/ui/users/add}" method="post">
			<h5>Création d'un utilisateur</h5>
			<div class="form-group">
				<label for="login">Login</label>
				<input type="text" class="form-control" name="login" size="50"/>
			</div>
			<div class="form-group">
				<label for="password">Mot de passe</label>
				<input type="password" class="form-control" name="password" size="50"/>
			</div>
			<div class="form-group">
				<label for="email">Adresse email</label>
				<input type="text" class="form-control" name="email" size="50"/>
			</div>
			<div>
				<table class="table table-sm">
					<thead>
						<tr>
							<th scope="col">Projet</th>
							<th scope="col">Préféré ?</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="project, stat : ${projects}" th:id="${project.uuid}">
							<td th:text="${project.name}">Autre</td>
							<td><input type="checkbox" name="prefered" th:value="${project.uuid}"/></td>
						</tr>
					</tbody>
			    </table>
			</div>
			<div>
				<span class="remark">Attention : Tous les champs sont obligatoires</span>
				<button id="nextButton" type="submit" class="btn btn-outline-success btn-sm float-right" disabled="disabled">Sauvegarder</button><br/><br/>
			</div>
		</form>
	</span>
	<script layout:fragment="script">

		const checkContinue = () => {
			var allOk = true; 
			$("input").each( (i,e) => {
				if(e.type != 'checkbox' && e.value === ''){ 
					allOk = false; 
					console.info(i + "->" + e.value);
				}
			});
			
			if(allOk){
				$("#nextButton").prop('disabled', false);
				$("#nextButton").removeClass("btn-outline-success").addClass("btn-success");
			} else {	
				$("#nextButton").prop('disabled', true);
				$("#nextButton").removeClass("btn-success").addClass("btn-outline-success");
			}
        };
        
    	// Init actions
    	$(document).ready(() => {
			$("input").change(checkContinue);
			$("input").keypress(checkContinue);
			checkContinue();
		}); 
    </script>
</body>
</html>
