<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Gestion des versions pour le projet <span th:class="|project-theme-txt-${project.color}|" th:text="${project.name}">project</span></h5>
        <span class="help">
        	Les versions sont specifiées pour le dictionnaire courant. Les lots de modifications sont associés à une version du dictionnaire, et des
        	vérifications sont effectuées dans les imports / exports de lot pour vérifier que les versions sont à jour et en place.
        	Une version peut être mise à jour tant qu'aucun lot n'y est associé.
        	<b><span th:if="${modelDesc != null}" th:text="|La version du modèle de l'application actuelle est ${modelDesc.identity}|">Model</span></b>
        </span>
        <span th:if="${versions == null || versions.isEmpty()}" class="important-remark" id="versRemark">
        	Aucune version n'a encore été définie pour le projet courant. Les echanges de lots de modifications ne sont pour l'instant pas possibles.
        	<br/><br/>
        </span>
        <span th:if="${versions != null && !versions.isEmpty() && checkVersion}" class="important-remark" id="versRemark">
        	Depuis la dernière mise à jour de version des mises à jour ont eu lieu dans le dictionnaire. Créer une nouvelle version pour les intégrer.
        	<br/><br/>
        </span>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col" width="35%">Versions</th>
                    <th scope="col">App. Modèle</th>
                    <th scope="col">Création</th>
                    <th scope="col">Dernière maj</th>
                    <th scope="col"width="10%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
				<tr th:if="${versions.empty}">
					<td colspan="100%" class="empty-list-message">Aucune version</td>
				</tr>
                <tr th:each="version : ${versions}" th:id="${version.name}">
                     <td class="version-name" th:text="${version.name}">
                     	1.2.5-SNAPSHOT
                     </td>
                     <td th:text="${version.modelId}">1.2.3</td>
                     <td th:text="${custom.format(version.createdTime)}">Lundi</td>
                     <td class="updateTime" th:text="${custom.format(version.updatedTime)}">Mardi</td>
                     <td>
                     	<button th:if="${version.canUpdate}" class="updateButton btn btn-success btn-sm float-right">Mettre à jour</button>
                        <a th:if="${!version.currentVersion && version.canCompare}" href="#" th:href="@{/ui/versions/compare/{name}(name=${version.name})}" class="btn btn-primary btn-sm">Comparer</a>
                     </td>
			     </tr>
			     <tr id="versionListInjectBefore">
			         <td colspan="2"><input type="text" id="versionName" class="form-control" placeholder="Nom" required="true"/></td>
			         <td colspan="5"><button id="addButton" class="btn btn-success btn-sm float-right">Ajouter</button></td>
			     </tr>
			</tbody>
		</table>
    </span>
    <script layout:fragment="script">

		// Add row button
		const addButtonAction = () => {
			hideDisplays();
			var inputName = $("#versionName");
			var name = inputName.val();
			if(name == null || name === ''){
				setInvalid("#versionName","Le nom de la version est obligatoire");
			}
			$.post("/ui/versions/" + inputName.val(), null, (data, status) => {
				showSuccess("Version ajoutée avec succès");
				// Remove other update buttons
				$("button.updateButton").remove();
		        var newVersionRow = '<tr id="' + data.name + '"><td class="version-name">' + data.name + '</td><td>' + data.modelId + '</td><td>A l\'instant</td><td>A l\'instant</td><td><button class="updateButton btn btn-success btn-sm float-right">Mettre à jour</button></td></tr>';
				$("#versionListInjectBefore").before(newVersionRow);
				$(".empty-list-message").remove();
				inputName.val("");
				$("button.updateButton").click((e) => updateButtonAction(e.target.parentElement.parentElement.parentElement.id)); // Refresh updates
		    });
		};
    
		// Update row button
		const updateButtonAction = (versionName) => {
			hideDisplays();
			$.post("/ui/versions/" + versionName, null, (data, status) => {
				window.location.replace("/ui/versions"); // Refresh page
		    });
		};

    	// Init actions
    	$(document).ready(() => {
			$("#addButton").click(addButtonAction);
			$("button.updateButton").click((e) => updateButtonAction(e.target.parentElement.parentElement.id));
		}); 
    </script>
</body>
</html>