<!DOCTYPE html>
<html layout:decorate="~{layouts/pages.html}">
<head>
</head>
<body>
    <span layout:fragment="content">
		<h5>Gestion des versions pour le projet <span th:class="|project-theme-txt-${project.color}|" th:text="${project.name}">project</span></h5>
        <span class="help">
        	Les versions sont specifiées pour le dictionnaire courant. Les lots de modifications sont associés à une version du dictionnaire, et des
        	vérifications sont effectuées dans les imports / exports de lot pour vérifier que les versions sont à jour et en place.
        	Une version peut être mise à jour tant qu'aucun lot n'y est associé.
        	<b><span th:if="${modelDesc != null}" th:text="|La version du modèle de l'application actuelle est ${modelDesc.identity}|">Model</span></b>
        </span>
        <div th:if="${versions == null || versions.isEmpty()}" class="alert alert-danger" role="alert" id="versRemark">
            <strong>Aucune version n'a encore été définie pour le projet courant.</strong> Les echanges de lots de modifications ne sont pour l'instant pas possibles.
        </div>
        <div th:if="${versions != null && !versions.isEmpty() && checkVersion}" class="alert alert-danger" role="alert" id="versRemark">
            <strong>Depuis la dernière mise à jour de version des mises à jour ont eu lieu dans le dictionnaire.</strong> Créer une nouvelle version pour les intégrer.
        </div>
        <div th:if="!${canCreateVersion}" class="alert alert-danger" role="alert">
            <strong>Aucune nouvelle version ne peut être ajoutée actuellement.</strong> La version du modèle de l'application doit être auparavant mise à jour.
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col" width="35%">Versions</th>
                    <th scope="col" th:if="!${noVersionName}">App. Modèle</th>
                    <th scope="col">Création</th>
                    <th scope="col">Dernière maj</th>
                    <th scope="col" width="25%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
				<tr th:if="${versions.empty}">
					<td colspan="100%" class="empty-list-message">Aucune version</td>
				</tr>
                <tr th:each="version : ${versions}" th:id="${version.name}">
                     <td class="version-name" th:text="${version.name}" name="${version.name}">
                     	1.2.5-SNAPSHOT
                     </td>
                     <td th:if="!${noVersionName}" th:text="${version.modelId}">1.2.3</td>
                     <td th:text="${custom.format(version.createdTime)}">Lundi</td>
                     <td id="updatedTime" th:class="${version.name}" th:text="${custom.format(version.updatedTime)}">Mardi</td>
                     <td>
                         <span class="float-right">
                            <button th:if="${version.canUpdate}" th:id="${version.name}" class="updateButton btn btn-success btn-sm">Mettre à jour</button>
                            <button th:if="!${ dictionaryManagementService.isVersionLinkedToLot(version.uuid) }" class="deleteButton btn btn-danger btn-sm" style="margin-left:10px;">Supprimer</button>
                            <a th:if="${!version.currentVersion && version.canCompare}" href="#" th:href="@{/ui/versions/compare/{name}(name=${version.name})}" class="btn btn-primary btn-sm" style="margin-left:10px;">Comparer</a>
                         </span>
                     </td>
			     </tr>
			     <tr th:if="${canCreateVersion}" id="versionListInjectBefore">
			         <td th:if="!${noVersionName}" colspan="4"><input type="text" id="versionName" class="form-control" placeholder="Nom" required="true"/></td>
                     <td th:if="${noVersionName}" colspan="3"><strong><span th:if="${modelDesc != null}" class="float-right" th:text="|Ajouter une nouvelle version pour le modèle de l'application actuel (${modelDesc.identity})|">Model</span></strong></td>
			         <td><button id="addButton" class="btn btn-success btn-sm float-right">Ajouter</button></td>
			     </tr>
			</tbody>
		</table>
        <div id="modal" style="display: none"  th:insert="~{components/modal :: modal}"></div>
    </span>
    <script layout:fragment="script" th:inline="javascript">

		var noVersionName = /*[[${noVersionName}]]*/ false;

		$('#currentLocation').text("Gestion des versions");
		$('#color-nav-1').css("font-weight", "bold");

		// Add row button
		const addButtonAction = () => {
			hideDisplays();
			var name = 'whatever';
			if(!noVersionName) {
                name = $("#versionName").val();
                if(name == null || name === ''){
                    setInvalid("#versionName","Le nom de la version est obligatoire");
                }
			}
			$.post("/ui/versions/" + name, null, (data, status) => {
				showSuccess("Version ajoutée avec succès");
				// Remove other update buttons

				if(noVersionName) {
                    var newVersionRow = '<tr id="' + data.name + '"><td class="version-name">' + data.name + '</td><td>A l\'instant</td><td>A l\'instant</td><td><button class="updateButton btn btn-success btn-sm float-right">Mettre à jour</button></td></tr>';
                    $("#versionListInjectBefore").before(newVersionRow);
                    $("#versionListInjectBefore").remove(); // Cannot add more
				} else {
                    var newVersionRow = '<tr id="' + data.name + '"><td class="version-name">' + data.name + '</td><td>' + data.modelId + '</td><td>A l\'instant</td><td>A l\'instant</td><td><button class="updateButton btn btn-success btn-sm float-right">Mettre à jour</button></td></tr>';
                    $("#versionListInjectBefore").before(newVersionRow);
				}

                $(".empty-list-message").remove();
                $("#versRemark").remove();

                setTimeout(() => {
                    $("button.updateButton").remove();
                    $("#successDisplay").remove();
                    window.location.replace("/ui/versions");
                }, 1000);

		    });
		};
    
		// Update row button
		const updateButtonAction = (versionName) => {
			$.post("/ui/versions/" + versionName, null, (data, status) => {
				$('td#updatedTime.' + versionName).load(location.href + " #updatedTime." + versionName);
		    });
		};

		// Delete a  version if it has no lots
		const deleteButtonAction = (versionId) => {
		    $('#modal').css("display","block");
		    $("#submitDelete").on("click",() => {
		        $.post("/ui/versions/remove/" + versionId, null, (data, status) => {
		            $('#modal').css("display","none");
		            window.location.replace("/ui/versions");
		        });
		    });
		}

		//Hide modal
		const cancelButton = () => {
		   $('#modal').css("display","none");
		}

    	// Init actions
    	$(document).ready(() => {
			$("#addButton").click(addButtonAction);
			$("#cancelDelete").click(cancelButton);
			$("button.updateButton").click((e) => updateButtonAction(e.target.id));
			$("button.deleteButton").click((e) => deleteButtonAction(e.target.parentElement.parentElement.parentElement.id));
		}); 
    </script>
</body>
</html>