<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<!-- Log onto console only, with default format -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Default INFO enabled logs for application -->
	<logger name="fr.uem.efluid" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- All Thymeleaf core processes -->
	<!-- <logger name="org.thymeleaf" additivity="false"> 
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT" /> 
	</logger> -->

	<!-- All Thymeleaf-layout processes -->
	<!-- <logger name="nz.net.ultraq.thymeleaf" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT" />
	</logger> -->

	<!-- If enabled to debug in JdbcBasedManagedUpdateRepository, will output update queries process with "before sort / after sort" extract -->
	<logger name="fr.uem.efluid.model.repositories.impls.JdbcBasedManagedUpdateRepository" additivity="false"> 
		<level value="DEBUG" /> 
		<appender-ref ref="STDOUT" /> 
	</logger> 

	<!-- If enabled to debug in JdbcBasedManagedExtractRepository, will output all extraction processes, with corresponding queries and payload counts -->
	<logger name="fr.uem.efluid.model.repositories.impls.JdbcBasedManagedExtractRepository" additivity="false"> 
		<level value="DEBUG" /> 
		<appender-ref ref="STDOUT" /> 
	</logger>

	<!-- If enabled to debug in JdbcBasedDatabaseDescriptionRepository, will output details on metadata extraction, including step durations -->
	<!-- <logger name="fr.uem.efluid.model.repositories.impls.JdbcBasedDatabaseDescriptionRepository" additivity="false"> 
		<level value="DEBUG" /> 
		<appender-ref ref="STDOUT" /> 
	</logger> -->

	<!-- Explicit logger for DIFF MERGE processes. Log it here into current console -->
	<logger name="merge.analysis" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- Default level for every logged resources -->
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>