<!DOCTYPE html>
<html layout:decorator="layouts/pages">
<head>
</head>
<body>
	<span layout:fragment="content">
		<span th:if="${preparation.status.name()}=='FAILED'">
			<div class="alert alert-danger">
				<h4>La preparation du lot de modification a rencontré une erreur</h4>
				<div th:replace="layouts/commons::error-display (${preparation.errorDuringPreparation.error},${preparation.errorDuringPreparation.payload})">...</div>
				<span class="remark">
					La préparation implique une extraction de toutes les données des tables identifiées comme du paramétrage dans le dictionnaire. 
					En cas de soucis sur ces données, le processus peut ne pas aboutir. 
					Si nécessaire, merci de communiquer le code d'erreur suivant : <span th:text="|${preparation.errorDuringPreparation.error}-${preparation.errorDuringPreparation.timestamp}|">JSON_WRITE_ERROR-12414421224112</span>
				</span>
			</div>
			<a href="index.html" class="btn btn-secondary btn-sm" th:href="@{/}">Revenir à la page d'accueil</a>
			<a th:href="@{/prepare/restart}" href="#" class="btn btn-dark btn-sm">Recommencer</a>
		</span>
		<form th:if="${preparation.status.name()}!='FAILED'" action="/commit.html" th:action="@{/prepare/commit}" method="post">
			<span th:if="${not preparation.emptyDiff}">
				<p>
					<h5>Ensemble des modifications identifiées
						<div class="float-right">
							<div class="btn-group" role="group">
							<button type="button" id="selectAllButton" class="btn btn-outline-primary btn-sm">Tout garder</button>
							<button type="button" id="rollbackAllButton"  class="btn btn-outline-danger btn-sm">Tout annuler</button>
							<button type="button" id="ignoreAllButton"  class="btn btn-outline-secondary btn-sm">Tout ignorer</button>
						</div>&nbsp;
						<div class="btn-group" role="group">
							<button type="button" id="closeAllButton" class="btn btn-outline-warning btn-sm">Tout réduire</button>
							<button type="button" id="showAllButton" class="btn btn-outline-info btn-sm">Tout afficher</button>
						</div>&nbsp;
							<a th:href="@{/prepare/cancel}" href="#" class="btn btn-secondary btn-sm">Abandonner</a>
							<a th:href="@{/prepare/restart}" href="#" class="btn btn-dark btn-sm" type="button">Regénérer</a>
						</div>
					</h5>
				</p>
				<div th:each="diffDisplay, tstat : ${preparation.preparedContent}" th:id="${diffDisplay.dictionaryEntryUuid}">
					<div th:if="${!diffDisplay.diff.isEmpty()}" class="dictionary-content" >
						<div class="dictionary-summary">
							<span class="dictionary-name" th:text="${diffDisplay.dictionaryEntryName}">Type de matériel</span>
							<span class="dictionary-details" th:text="|- table : ${diffDisplay.dictionaryEntryTableName} - Domaine : ${diffDisplay.domainName}|">Domaine : Gestion du matériel</span>
							<span class="reducer reducer-close float-right" title="afficher / masquer le détail pour la table de paramétrage">&nbsp;</span>
						</div>
						<table class="table table-sm">
							<thead>
								<tr>
									<th scope="col" width="15%">Clé (<span th:text="${diffDisplay.dictionaryEntryKeyName}">TITLE</span>)</th>
									<th scope="col" width="10%">Type</th>
									<th scope="col">Modification</th>
									<th scope="col" width="18%">
										<div class="btn-group float-right" role="group">
											<button type="button" th:id="|select_${diffDisplay.dictionaryEntryUuid}|" class="btn btn-outline-primary all-button btn-sm">Tout garder</button>
											<button type="button" th:id="|rollback_${diffDisplay.dictionaryEntryUuid}|" class="btn btn-outline-danger all-button btn-sm">Tout annuler</button>
											<button type="button" th:id="|ignore_${diffDisplay.dictionaryEntryUuid}|" class="btn btn-outline-secondary all-button btn-sm">Tout ignorer</button>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="entry, estat : ${diffDisplay.diff}" th:id="|${diffDisplay.dictionaryEntryUuid}_${entry.keyValue}|" th:class="|action-line ${#strings.toLowerCase(entry.action.name())}|" class="action-add">
									<td th:text="${entry.keyValue}">XAZER5555 - 22</td>
									<td class="action-display" th:text="${entry.action.name()}=='ADD'?'Ajout':(${entry.action.name()}=='REMOVE'?'Suppression':'Modification')">Ajout</td>
									<td><span class="change-display" th:utext="${entry.hrPayload}" th:title="|payload technique='${entry.payload}'|">"Compteur d'eau" / "abc" / "FS" => suppr</span></td>
									<td>
										<input type="hidden" th:id="|selectFor${diffDisplay.dictionaryEntryUuid}_${entry.keyValue}|" th:field="${preparation.preparedContent[__${tstat.index}__].diff[__${estat.index}__].selected}"></input>
										<input type="hidden" th:id="|rollbackFor${diffDisplay.dictionaryEntryUuid}_${entry.keyValue}|" th:field="${preparation.preparedContent[__${tstat.index}__].diff[__${estat.index}__].rollbacked}"></input>
										<div class="btn-group float-right" role="group">
											<button type="button" th:class="${preparation.preparedContent[__${tstat.index}__].diff[__${estat.index}__].selected}?'btn btn-primary btn-sm select-button':'btn btn-outline-primary btn-sm select-button'" class="btn btn-primary btn-sm select-button">Garder</button>
											<button type="button" th:class="${preparation.preparedContent[__${tstat.index}__].diff[__${estat.index}__].rollbacked}?'btn btn-danger btn-sm rollback-button':'btn btn-outline-danger btn-sm rollback-button'" class="btn btn-danger btn-sm rollback-button">Annuler</button>
											<button type="button" th:class="!${preparation.preparedContent[__${tstat.index}__].diff[__${estat.index}__].selected or preparation.preparedContent[__${tstat.index}__].diff[__${estat.index}__].rollbacked}?'btn btn-secondary btn-sm ignore-button':'btn btn-outline-secondary btn-sm ignore-button'" class="btn btn-secondary btn-sm ignore-button">Ignorer</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<p>
					<div class="float-right">
						<input type="submit" class="btn btn-success btn-sm" value="Confirmer les opérations"/><br/><br/>
					</div>
				</p>
			</span>
			<span th:if="${preparation.emptyDiff}">
				<p>
					<h5>Aucune nouvelle modification identifiée dans les données de paramètrage.
						<div class="float-right">
							<a th:href="@{/prepare/cancel}" href="#" class="btn btn-secondary btn-sm">Abandonner</a>
							<a th:href="@{/prepare/restart}" href="#" class="btn btn-dark btn-sm">Rafraichir les modifications</a>
						</div>
					</h5>
				</p>
				<div class="alert alert-secondary" role="alert">
					<strong>La recherche de différences n'a identifié aucune nouvelle données de paramètrage</strong>. Le traitement s'appuie sur les tables de paramètrage
					identifiées dans le dictionnaire, et recherche pour chacune les données actuellement présentes. Il compart ensuite le résultat avec les données déjà
					stockées dans l'ensemble des lots de modifications présents, et recherche si des différences sont présentes. Il n'y a donc actuellement aucune différence
					identifiée : toutes les données de paramètrage ont été déjà validées dans des lots de modification.
				</div>
				<p>&nbsp;<br/><br/><br/><br/></p>
			</span>
		</form>
	</span>
    <script layout:fragment="script">
		
        // When selecting
        const selectAction = (item) => {
			hideDisplays();
        	var selectInput = $("#selectFor" + item);
        	var rollbackInput = $("#rollbackFor" + item);
			if(selectInput.val() === 'false'){
				console.info("selected " + item);
				selectInput.val("true");
				rollbackInput.val("false");
				$("#" + item + " td button.select-button").removeClass("btn-outline-primary").addClass("btn-primary");
				$("#" + item + " td button.rollback-button").removeClass("btn-danger").addClass("btn-outline-danger");
				$("#" + item + " td button.ignore-button").removeClass("btn-secondary").addClass("btn-outline-secondary");
			}
        };
        
        // When rollbacking
        const rollbackAction = (item) => {
			hideDisplays();
        	var selectInput = $("#selectFor" + item);
        	var rollbackInput = $("#rollbackFor" + item);
			if(rollbackInput.val() === 'false'){
				console.info("rollback " + item);
				selectInput.val("false");
				rollbackInput.val("true");
				$("#" + item + " td button.select-button").removeClass("btn-primary").addClass("btn-outline-primary");
				$("#" + item + " td button.rollback-button").removeClass("btn-outline-danger").addClass("btn-danger");
				$("#" + item + " td button.ignore-button").removeClass("btn-secondary").addClass("btn-outline-secondary");
			}
        };
        
        // When ignoring
        const ignoreAction = (item) => {
			hideDisplays();
        	var selectInput = $("#selectFor" + item);
        	var rollbackInput = $("#rollbackFor" + item);
			if(selectInput.val() === 'true' || rollbackInput.val() === 'true'){
				console.info("ignore " + item);
				selectInput.val("false");
				rollbackInput.val("false");
				$("#" + item + " td button.select-button").removeClass("btn-primary").addClass("btn-outline-primary");
				$("#" + item + " td button.rollback-button").removeClass("btn-danger").addClass("btn-outline-danger");
				$("#" + item + " td button.ignore-button").removeClass("btn-outline-secondary").addClass("btn-secondary");
			}
        };
        
		// For table hidding
		const hideAndShowTableAction = (tableUuid) => {
			hideDisplays();
			var table = $("#" + tableUuid + " table");
			var button = $("#" + tableUuid + " span.reducer");
			if(button.attr("class").indexOf('reducer-close') !== -1){
				table.hide();
				button.removeClass("reducer-close").addClass("reducer-open");
			} else {
				table.show();
				button.removeClass("reducer-open").addClass("reducer-close");
			}
		};
		
		// For hidding all
		const hideAndShowAllAction = (force) => {
			$("span.reducer").each((index, e) => {
				var tableUuid = e.parentElement.parentElement.parentElement.id;
				var table = $("#" + tableUuid + " table");
				var button = $("#" + tableUuid + " span.reducer");
				if(force === 'hide'){
					table.hide();
					button.removeClass("reducer-close").addClass("reducer-open");
				} else {
					table.show();
					button.removeClass("reducer-open").addClass("reducer-close");
				}
			});
		};
		
		// For "select All / rollback All / ignore All"
		const processAll = (butId) => {
			var idParts = butId.split("_");
			console.log("All " + idParts[0] + " on table " + idParts[1]);
			$("#" + idParts[1] + " button." + idParts[0] + "-button").click();
		};
		
    	// Init actions
    	$(document).ready(() => {
			// Default : hide all
			hideAndShowAllAction('hide');
			
			$("span.reducer").click((e) => hideAndShowTableAction(e.target.parentElement.parentElement.parentElement.id));
			$("button.select-button").click((e) => selectAction(e.target.parentElement.parentElement.parentElement.id));
			$("button.rollback-button").click((e) => rollbackAction(e.target.parentElement.parentElement.parentElement.id));
			$("button.ignore-button").click((e) => ignoreAction(e.target.parentElement.parentElement.parentElement.id));
			$("button.all-button").click((e) => processAll(e.target.id));
			$("#selectAllButton").click((e) => $("button.select-button").click());
			$("#rollbackAllButton").click((e) => $("button.rollback-button").click());
			$("#ignoreAllButton").click((e) => $("button.ignore-button").click());
			$("#closeAllButton").click((e) => hideAndShowAllAction('hide'));
			$("#showAllButton").click((e) => hideAndShowAllAction('show'));
		}); 
		
    </script>
</body>
</html>