.add {
    color:green;
    font-weight: bold;
}

.remove {
    color:red;
    font-weight: bold;
}

.update {
    color:blue;
    font-weight: bold;
}

.conflict {
    background-color: rgb(226, 185, 170);
}

.query-display {
    display: block;
    padding: 3px;
    background-color: #FAFAFA;
    border: 1px #EEE solid;
    font-style: italic;
    font-size: 14px;
}

.table-key {
    font-weight: bold;
    color: brown;
}

.table-used {
    font-size: 13px;
    background-color: #FAFAFA;
	line-height: 30px;
}

.table-name {
	font-weight: bold;
	line-height: 30px;
}

.table-used .table-name {
    font-size: 16px;
	font-weight: bold;
	color:brown;
}

.help {
	display: block;
    font-size: 14px;
    padding: 5px 1px 15px 1px;
}

.remark {
    font-style: italic;
    font-size: 13px;
}

.dictionary-content {
    margin-top: 20px;
    border: 1px solid #CCC;
}

.dictionary-content table {
    margin-bottom: 0px;
}

.dictionary-summary {
    padding: 5px;
    background-color: #F4F4F4;
}

.dictionary-summary .reducer {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 4px;
}

.reducer-open {
	background-image: url("/plus.png");
}

.reducer-close {
    background-image: url("/minus.png");
}

.dictionary-summary .dictionary-name {
	font-size: 17px;
	color: #777;
	font-weight: bold;
}

.dictionary-summary .dictionary-details {
	font-size: 14px;
	color: #777;
	font-weight: bold;
}

.parameter-name {
    font-weight: bold;
}

.action-line {
    font-weight: normal;
    color: black;
}

.action-line .action-display {
    font-weight: bold;
}

.action-line .change-display {
    display: block;
    padding: 3px;
    border: 1px #EEE solid;
    font-style: italic;
    font-size: 14px;
}

.change-display-none {
    display: block;
    padding: 3px;
    border: 1px #EEE solid;
    font-style: italic;
    font-size: 14px;
}

.change-title {
	font-size: 13px;
	font-weight: bold;
}

.action-line.add .action-display {
    color:green;
}

.action-line.update .action-display {
    color:orange;
}

.action-line.remove .action-display {
    color:red;
}

.action-line.add .change-display {
	background-color: rgb(243, 250, 243);
}

.action-line.update .change-display {
	background-color: rgb(236, 229, 204);
}

.action-line.remove .change-display {
	background-color: rgb(255, 220, 220);
}

.file-display {
	padding-left: 10px;
    font-size: 14px;
}

.file-display span {
    font-style: italic;
}

.wizzard-warning {
	width:100%;
	background-color:#EEE;
	font-size:16px;
	font-weight:bold;
}

.w-bc {
	display:block;
	font-size: 19px;
	color:#AAA;
}

.w-bc .active {
	font-weight: bold;
	color:#000;
}

.selecter {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 20px;
    height: 20px;
    line-height:15px;
    cursor: pointer;
}

.selecter.selected {
	background-image: url("/selected.png");
}

.selecter.unselected {
    background-image: url("/unselected.png");
}

.btn-group .btn-head {
    margin-top: 7px;
    margin-bottom: 0px;
	font-size: 15px;
    line-height:15px;
}

.reducer.reducer-sm {
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin: 8px;
	background-size: 14px 14px;
}

.change-details {
	display: none;
}