<!DOCTYPE html>
<html layout:decorator="layout">
<head>
</head>
<body>
    <span layout:fragment="content">
    	<form action="commit-save.html" th:action="@{/prepare/save}" method="post">
        	<p>
	        	<h5>Identification du lot de modifications</h5>
                <table class="table">
							<thead>
								<tr><th scope="col">Domaines fonctionnels concernés</th></tr>
							</thead>
							<tr th:each="domain, tstat : ${preparation.selectedFunctionalDomainNames}">
                            	<td th:text="${domain}">Gestion du matériel</td>
                        	</tr>
                        </table>
                        
                        <div class="form-group">
                            <label for="whereCriteria"><b>Description du lot de modification</b></label>
                            <input id="comment" type="text" class="form-control" th:field="${preparation.commitData.comment}" value="Lot de test" size="50"/>
                        </div>
					</p>
					<p>
						<div class="float-right">
							<a class="btn btn-secondary btn-sm" th:href="@{/prepare}" href="prepare.html">Revenir en arrière</a>
							<input type="submit" class="btn btn-success btn-sm" value="Confirmer les opérations"/><br/><br/>
						</div>
					</p>
                </form>
	</span>
    <script layout:fragment="script">
		
    </script>
</body>
</html>