<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Gestion Paramètrage Efluid</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="./css/core.css" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="./index.html" th:href="@{/}">Gestion du paramètrage Efluid</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="divider-horizontal"></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dictionnaire
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./dictionary.html" th:href="@{/dictionary}">Modification du dictionnaire</a>
                            <a class="dropdown-item" href="./domains.html" th:href="@{/domains}">Configuration des domaines fonctionnels</a>
                            <a class="dropdown-item" href="./share.html" th:href="@{/share}">Export / Import de dictionnaire</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lot de modification
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./commits.html">Liste des lots présents</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="./prepare.html">Préparer un lot</a>
                            <a class="dropdown-item" href="./pull.html">Importer un lot</a>
                            <a class="dropdown-item" href="./push.html">Exporter un lot</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Déconnexion</button>
                </form>
            </div>
        </nav>
       <span layout:fragment="content">
        <div>Here page content</div>
      </span>
      <div id="successDisplay" class="alert alert-success" style="display:none">C'est un succès</div>
      <div id="errorDisplay" class="alert alert-danger" style="display:none">C'est un echec</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    	
    	// Utils
    
    	const hideDisplays = () => {
    		$("#successDisplay").hide();
    		$("#errorDisplay").hide();
    	};
    
    	const showSuccess = (message) => {
    		$("#successDisplay").text(message).fadeIn();
    	};
    	
    	const showError = (message) => {
    		 $("#errorDisplay").text(message).fadeIn();
    	};
    	
    	const setInvalid = (inputSelector, message) => {
    		showError(message);
    		$(inputSelector).addClass("is-invalid").focusin(function(){
    			$("#errorDisplay").hide();
    			$(this).removeClass("is-invalid");
    		});
    	};
    	
    </script>
    <script layout:fragment="script">
    	// Page script goes here
    </script>
</body>
</html>