<!DOCTYPE html>
<html layout:decorator="layout">
<head>
</head>
<body>
    <span layout:fragment="content">
        <div class="row"><div class="col-1">&nbsp;</div></div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-9">
            	<h5>Import / export depuis le dictionnaire</h5>
                <span class="help">Attention les domaines fonctionnels sont également intégrés lors de l'import</span>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Exporter par domaines fonctionnels</th>
                            <th scope="col" width="10%">
                                <a href="#" th:href="@{/share/all-dictionary.par}" class="btn btn-primary btn-sm float-right">Exporter tout</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="domain : ${domains}" th:id="${domain.uuid}">
                            <td th:text="${domain.name}">Gestion du matériel</td>
                            <td><a href="#" th:href="@{/share/{id}-dictionary.par(id=${domain.uuid})}" class="btn btn-primary btn-sm float-right">Exporter</a></td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </span>
    <script layout:fragment="script">
    
    </script>
</body>
</html>