.datagate-content {
    display: block;
    padding: 30px;
}

.datagate-home {
    background-color: #F3F8FD;
    /*display: flex;
    flex-wrap: wrap;*/
    width: 100%;
    height: 100%;
    /*justify-content: space-evenly;*/
    align-items: center;
}

.datagate-home .left-bloc {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 5% 0 5% 10%;
    height: 30vh;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 12px #555;
}

.datagate-home .right-bloc {
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 5% 10% 5% 0;
    height: 30vh;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 12px #555;
}

.datagate-home .bottom-bloc {
    width: 80%;
    height: 30vh;
    padding: 20px;
    margin: 10% 10% 0 10%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 12px #555;
    overflow-y: auto !important;
}

#column-main {
    border-left: 1px solid #d8e2dc;
}

/* Fixed on new bootstrap */
.btn {
    white-space: nowrap;
}

/* Fixed on new bootstrap */
.app-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.add {
    color: green;
    font-weight: bold;
}

.remove {
    color: red;
    font-weight: bold;
}

.update {
    color: blue;
    font-weight: bold;
}

.conflict {
    background-color: rgb(226, 185, 170);
}

.token-display {
    padding: 2px 10px;
    margin: O 2px;
    background-color: #FAFAFA;
    border: 1px #EEE solid;
    font-weight: bold;
    font-size: 16px;
    color: brown;
}

.query-display {
    display: block;
    padding: 3px;
    background-color: #FAFAFA;
    border: 1px #EEE solid;
    font-style: italic;
    font-size: 14px;
}

.table-key {
    font-weight: bold;
    color: brown;
}

.table-used {
    font-size: 13px;
    background-color: #FAFAFA;
    line-height: 30px;
}

.table-name {
    font-weight: bold;
    line-height: 30px;
}

.table-used .table-name {
    font-size: 16px;
    font-weight: bold;
    color: brown;
}

select.select-table {
    width: 350px;
    display: inline;
}

select.select-column {
    width: 250px;
    display: inline;
}

.active-project {
    font-size: 14px;
    padding-right: 15px;
}

.active-project a {
    font-decoration: none;
    font-weight: bold;
    color: Black !important;
}

.help {
    display: block;
    font-size: 14px;
    padding: 5px 1px 15px 1px;
}

.remark {
    font-style: italic;
    font-size: 13px;
}

.important-remark {
    font-style: italic;
    color: red;
    font-size: 13px;
}

.dictionary-content {
    margin-top: 20px;
    border: 1px solid #CCC;
}

.dictionary-content table {
    margin-bottom: 0px;
}

.dictionary-summary {
    padding: 5px;
    background-color: #F4F4F4;
}

.domain-area {
    padding-bottom: 20px;
}

.domain-summary {
    background-color: #747474;
    padding: 7px;
    font-weight: bold;
    margin-bottom: 0px !important;
    color: #FFF;
}

.domain-content {
    border: 1px solid #CCC;
    padding: 0 10px 10px 10px;
}

.domain-buttons {
    font-weight: bold;
    padding-top: 6px;
}

.dictionary-summary .reducer, .domain-summary .reducer, .diff-remarks .reducer {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 4px;
}

.reducer-open {
    background-image: url("/plus.png");
}

.reducer-close {
    background-image: url("/minus.png");
}

.history-state {
    width: 25px;
    vertical-align: middle !important;
}

.history-update {
    background-image: url("/update.png");
    width: 24px;
    height: 18px;
    display: block;
}

.history-rollback {
    background-image: url("/rollback.png");
    width: 24px;
    height: 18px;
    display: block;
}

.history-attachment {
    background-image: url("/attachment.png");
    width: 24px;
    height: 18px;
    display: block;
}

.inline-block {
    display: inline-block !important;
}

.dictionary-summary .dictionary-name {
    font-size: 17px;
    color: #777;
    font-weight: bold;
}

.dictionary-summary .dictionary-details {
    font-size: 14px;
    color: #777;
    font-weight: bold;
}

.dictionary-diff-size {
    font-size: 14px;
    color: brown;
    font-weight: bold;
}

.parameter-name {
    font-weight: bold;
}

.version-name {
    color: Maroon;
    font-weight: bold;
}

.action-line {
    font-weight: normal;
    color: black;
}

.action-line .action-display {
    font-weight: bold;
}

.action-line .similar-display {
    color: rgba(128, 78, 136, 1);
    font-weight: bold;
}

.action-line .change-display {
    display: block;
    padding: 3px;
    border: 1px #EEE solid;
    font-style: italic;
    font-size: 14px;
}

.change-display-none {
    display: block;
    padding: 3px;
    border: 1px #EEE solid;
    font-style: italic;
    font-size: 14px;
}

.change-title {
    font-size: 13px;
    font-weight: bold;
}

.action-line.add .action-display {
    color: green;
}

.action-line.update .action-display {
    color: orange;
}

.action-line.remove .action-display {
    color: red;
}

.action-line.add .change-display {
    background-color: rgb(243, 250, 243);
}

.action-line.update .change-display {
    background-color: rgb(236, 229, 204);
}

.action-line.remove .change-display {
    background-color: rgb(255, 220, 220);
}

.file-display {
    padding-left: 10px;
    font-size: 14px;
}

.file-display span {
    font-style: italic;
}

.wizard-warning {
    width: 100%;
    background-color: #EEE;
    font-size: 16px;
    font-weight: bold;
}

.w-bc {
    display: block;
    font-size: 19px;
    color: #AAA;
}

.w-bc .active {
    font-weight: bold;
    color: #000;
}

.selecter {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 20px;
    height: 20px;
    line-height: 15px;
    cursor: pointer;
}

.selecter.selected {
    background-image: url("/selected.png");
}

.selecter.unselected {
    background-image: url("/unselected.png");
}

.btn-group .btn-head {
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 15px;
}

.reducer.reducer-sm {
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin: 8px;
    background-size: 14px 14px;
}

.change-details {
    display: none;
}


/* COLOR PICKER - CUSTOM */

.color-picker {
    float: right;
}

.color-picker label {
    margin-left: 4px;
    margin-right: 10px;
    font-weight: bold;
    float: left;
    font-size: 14px;
}

.color-picker label span {
    margin-left: 4px;
}

/* THEMING - TEXT - BG SUPPORT */


/* Grey (default) */
.project-theme-0 {
    background-color: #555555 !important;
    color: white;
}

.project-theme-txt-0 {
    color: #555555 !important;
}

.project-theme-bg-0 {
    /* Color copied from default bootstrap bg */
    background-color: #f8f9fa !important;
}

/* Blue */
.project-theme-1 {
    background-color: darkblue !important;
    color: white;
}

.project-theme-txt-1 {
    color: darkblue !important;
}

.project-theme-bg-1 {
    background-color: SkyBlue !important;
}

/* Green */
.project-theme-2 {
    background-color: darkgreen !important;
    color: white;
}

.project-theme-txt-2 {
    color: darkgreen !important;
}

.project-theme-bg-2 {
    background-color: #A8FBA8 !important;
}

/* Yellow */
.project-theme-3 {
    background-color: darkgoldenrod !important;
    color: white;
}

.project-theme-txt-3 {
    color: darkgoldenrod !important;
}

.project-theme-bg-3 {
    background-color: LemonChiffon !important;
}

/* Pink */
.project-theme-4 {
    background-color: darkorchid !important;
    color: white;
}

.project-theme-txt-4 {
    color: darkorchid !important;
}

.project-theme-bg-4 {
    background-color: MistyRose !important;
}

/* Purple */
.project-theme-5 {
    background-color: indigo !important;
    color: white;
}

.project-theme-txt-5 {
    color: indigo !important;
}

.project-theme-bg-5 {
    background-color: Lavender !important;
}

.query-error {
    padding: 3px;
    font-style: italic;
    font-size: 14px;
}

.diff-remarks {
    padding: 3px;
}

.diff-remarks ul {
    padding-top: 10px;
}

.diff-remarks ul li span{
    color: white;
}

.file-runnable-com {
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    color: Purple;
}

.file-ico {
    margin-top: 5px;
    display: block;
    width: 18px;
    height: 24px;
    cursor: pointer;
}

.sql-comment {
    color: DarkGreen;
    font-style: italic;
}

.empty-list-message {
    text-align: center;
    color: Gray;
    font-style: italic;
}

/* Compare screen */

.domain-change {
    font-weight: bold;
}

.added {
    color: green;
}

.removed {
    color: red;
}

.modified {
    color: blue;
}

.unchanged {
    color: #000;
}

.column-change.removed {
    color: red;
    text-decoration: line-through;
}

.key-change {
    background-image: url("/key.png");
    width: 20px;
    height: 20px;
    display: block;
}

.key-change-added {
    background-image: url("/key-add.png");
    width: 20px;
    height: 20px;
    display: block;
}

.key-change-removed {
    background-image: url("/key-remove.png");
    width: 20px;
    height: 20px;
    display: block;
}

.domain-compare {
    font-weight: bold;
    font-size: 16px;
}

/* Configuration fields */
textarea.configuration {
    background: url("/configuration-bg.png");
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 12px;
    border-color: #ccc;
    font-family: monospace;
    color: #456;
    font-size: 11px;
    font-weight: bold;
    background-size: 27px;
}

#updatedTime:first-child{
    border: 0px;
    padding: 0px;
    margin:0px;
}

li.page-item {
    cursor: pointer;
}

th.filter {
    cursor: pointer;
}

th.filter:hover {
    text-decoration: underline;
}

th.filter.filtered {
    background: url("/filtered.png");
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 22px ;
}

th.filter.sorted-asc {
    background: url("/sort-asc.png");
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 22px ;
}

th.filter.sorted-desc {
    background: url("/sort-desc.png");
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 22px ;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    border: #aaa 1px solid;
    box-shadow: 5px 5px 5px #aaa;
    list-style-type: none !important;
    padding: 5px !important;
    background-color: #FFFFFF;
    font-size: 11px;
}

.ui-autocomplete *:hover {
    background-color: #aaa;
    color: white;
    font-weight: bold;
}

/******************************** PAGE PREPARE ********************************/

#message-alert {
    background-color: #CF4E47;
    border-radius: 10px;
    border: 1px solid #CF4E47;
    margin: auto auto 20px auto;
    padding: 10px 10px 10px 10px;
    color: white;
}

#prepare-header {
    width: 100%;
    height: 70px;
    padding: 7px 7px 7px 7px;
    background-color: #E2E3E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto 20px auto;
}

#prepare-header h5 {
    margin: 0;
    color: black;
}

#container-list-filter {
    width: 100%;
    min-height: 60px;
    border: 2px solid black;
    background-color: white;
    overflow: scroll;
}

#prepare-filter {
    width: 100%;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

#navigation-filter{
     width: 100%;
     height: 35px;
     display: flex;
     flex-direction: row;
     cursor: pointer;
}

#navigation-domain, #navigation-table, #navigation-key, #navigation-type {
    width: 15%;
}

#navigation-modif {
    width: 20%;
}

#navigation-btns {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

#table-name, #action-name {
    width: 15%;
    height: 100px;
    background-color: white;
    display:flex;
    align-items: center;
    padding-left: 10px;
}

#domain-name {
       display:flex;
       align-items: center;
       justify-content: center;
       width: 15%;
       height: 100px;
       background-color: white;
       padding-left: 10px;
}

#key-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100px;
    background-color: white;
}

#action-name {
     display: flex;
    justify-content: center;
    align-items: center;
}


#payload-name {
    width: 30%;
    height: 100px;
    background-color: white;
    display:flex;
    align-items: center;
}

[title~="cell"]{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 20px auto 20px auto;
}

#btns-groupe {
    width: 10%;
    height: 100px;
    background-color: white;
    display: flex;
    margin: auto 0 auto auto;
    justify-content: space-around;
    align-items: center;
}

#btn-confirm {
    display: flex;
    height: 40px;
    justify-content: flex-end;
}

#btn-confirm input {
    background-color: #336DA4;
    color: white;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#domainFilterButton {
    width: 100%;
}

#filter-menu-click {
    background-color: #333B3F;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 12px 20px 12px;
    font-size: 1em;
}

#filter-menu-delete {
    background-color: #CF4E47;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 12px 20px 12px;
    font-size: 1em;

}
.change-display {
    width: 100%;
    max-height: 90px;
    overflow: hidden;
}

.container-is-used {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-domain, #title-table, #title-key, #title-type {
    margin: 0;
}

li {
    list-style-type: none;
}

#keep-filtered-ligne {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #F6F6F6;
    margin-bottom: 20px;
}

.btn-right {
    margin-right: 0;
}