.navbar-brand {
    height: 130px;
	background-image: url("/logo.png");
    padding-left: 200px!important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#app-container {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

#colonne-navbar {
    border: 1px solid #d8e2dc;
    padding: 0;
}

.lead-nav {
    font-size: 0.9rem;
    color: grey!important;
}
