<!DOCTYPE html>
<html layout:decorator="layouts/wizzard">
<head>
</head>
<body>
	<span layout:fragment="content">
		<h3>L'application n'a actuellement aucune configuration en place.</h3>
		<br/>
		<div class="alert alert-primary" role="alert">
			Ce wizzard va vous permettre de préparer les réglages nécessaires.
			Pour toute question relative à son utilisation, merci de se reporter à la documentation officielle,
			ou de contacter le support technique
		</div>
		<a href="/wizzard_user.html" th:href="@{/wizzard/1}" class="btn btn-dark btn-sm float-right">Démarrer la configuration</a>
	</span>
</body>
</html>