.add {
    color:green;
    font-weight: bold;
}

.remove {
    color:red;
    font-weight: bold;
}

.update {
    color:blue;
    font-weight: bold;
}

.conflict {
    background-color: rgb(226, 185, 170);
}